/* ===================================================================================================== */
/* Progressive appear elements animation                                                                     */
/* ===================================================================================================== */
.card-animation:nth-child(1) {
    animation: appear 1s ease 0s 1 normal;
    -webkit-animation: appear 1s ease 0s 1 normal;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.card-animation:nth-child(2)  {
    animation: appear 2s ease 2s 1 normal;
    -webkit-animation: appear 2s ease 1s 1 normal;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.card-animation:nth-child(3)  {
    animation: appear 3s ease 4s 1 normal;
    -webkit-animation: appear 3s ease 2s 1 normal;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.card-animation:nth-child(4)  {
    animation: appear 4s ease 6s 1 normal;
    -webkit-animation: appear 4s ease 3s 1 normal;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.card-animation:nth-child(5)  {
    animation: appear 5s ease 8s 1 normal;
    -webkit-animation: appear 5s ease 4s 1 normal;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.card-animation:nth-child(6)  {
    animation: appear 6s ease 10s 1 normal;
    -webkit-animation: appear 6s ease 5s 1 normal;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.card-animation:nth-child(7)  {
    animation: appear 7s ease 12s 1 normal;
    -webkit-animation: appear 7s ease 6s 1 normal;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.card-animation:nth-child(8)  {
    animation: appear 8s ease 14s 1 normal;
    -webkit-animation: appear 8s ease 7s 1 normal;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.card-animation:nth-child(9)  {
    animation: appear 9s ease 16s 1 normal;
    -webkit-animation: appear 9s ease 8s 1 normal;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.card-animation:nth-child(10)  {
    animation: appear 10s ease 18s 1 normal;
    -webkit-animation: appear 10s ease 9s 1 normal;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animation-fadeinup {
    opacity: 0
}

.fadeinup {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/* fadeInUp */
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

/* appear */
@keyframes appear {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 0.3
      }
    100% {
      opacity: 1;
    }
}

@-webkit-keyframes appear {
    0% {
        opacity: 0;
    }
    50% {
          opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}