/* ===================================================================================================== */
/* Forms select styles                                                                                   */
/* ===================================================================================================== */
.custom-select {
    display: block;
    font-family: var(--font-bold);
    font-weight: 500;
    font-size: 1em;
    color: var(--color-white);
    line-height: 1;
    padding: 0.6em 1.4em 0.5em 0.8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    border: none;
    box-shadow: 2px 2px 2px 2px var(--grey-shadow);
    border-radius: 0.5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--blue-bg);
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
      var(--gradient-bg-blue);
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right 0.7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: 0.65em auto, 100%;
  }
  /* Hide icon for IE */
  .custom-select::-ms-expand {
    display: none;
  }

  .custom-select:hover {
    box-shadow: none;
  }

  .custom-select:focus {
    color: var(--grey-bg);
    outline: none;
  }
  
  /* Set options to normal weight */
  .custom-select option {
    font-weight: normal;
    border-radius: 0.5em;
  }
  
  /* Support for rtl text, explicit support for Arabic and Hebrew */
  *[dir="rtl"] .custom-select,
  :root:lang(ar) .custom-select,
  :root:lang(iw) .custom-select {
    background-position: left 0.7em top 50%, 0 0;
    padding: 0.6em 0.8em 0.5em 1.4em;
  }
  
  /* Disabled styles */
  .custom-select:disabled,
  .custom-select[aria-disabled="true"] {
    color: var(--grey-bg);
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    var(--gradient-bg-blue);
  }
  
  .custom-select:disabled:hover,
  .custom-select[aria-disabled="true"] {
      border-color: var(--blue-bg);
  }

      /* For IE <= 11 */
    select::-ms-expand {
        display: none;
    }

/* ===================================================================================================== */
/* Form styles                                                                                           */
/* ===================================================================================================== */

.input-container {
  padding: 0px;
  padding-bottom: 0.05px;
}

form label {
  z-index: 0;
  position: absolute;
  width: 85px;
  font-family: var(--font-bold);
  font-weight: 500;
  font-size: 0.80em;
  color: var(--color-white);
  line-height: 1;
  padding-top: 2em;
  left: 1.6em;
  margin-top: -1.20em;
  letter-spacing: var(--letter-spacing);
}

form input {
  z-index: 2;
  display: block;
  font-family: var(--font-bold);
  font-weight: 500;
  font-size: 0.9em;
  color: var(--color-white);
  line-height: 1;
  padding: 0.6em 1.4em 0.5em 7.5em;
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 30px;
  border: none;
  box-shadow: 2px 2px 2px 2px var(--grey-shadow);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--blue-bg);
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    var(--gradient-bg-blue);
  background-repeat: no-repeat, repeat;
}

form input:hover,
form input:focus,
form input:active {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
  var(--gradient-bg-blue-invert);
  outline: none;
  box-shadow: none!important;
}

form input::placeholder {
  color: var(--grey-bg);
}

form button:disabled {
  display: block;
  border: none;
  background: rgba($color: #c3c3c3, $alpha: 0.4);
  height: 60px;
  width: 100%;
  max-width: 250px;
  padding: 10px;
  margin: 20px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(255, 0, 0, 0.5);
  transition: all .3s ease-in-out;
  outline: none!important;
  color: rgba($color: #fff, $alpha: 0.1);
  text-decoration: none;
}

.form-icon-container {
  z-index: 0;
  margin-left: -40px;
  margin-top: -45px;
  width: 5%;
}

.form-invalid-icon-container {
  z-index: 0;
  margin-left: -32.5px;
  margin-top: -45px;
  width: 5%;
}

.fas.fa-check {
  color: greenyellow!important;
}

.fas.fa-exclamation {
  color: red!important;
}

button#sendOrder {
margin-top: 10px;
}

.alert-bg {
  background-color: rgba(255, 0, 0, 0.2);
  box-shadow: 2px 2px 2px 2px rgba(255, 0, 0, 0.2);
  border-radius: 0.5em;
}

.error-message {
  z-index: 0;
  position: relative;
  text-align: right;
  font-family: var(--font-bold);
  font-weight: 500;
  font-size: 0.8em;
  color: var(--color-white);
  line-height: 1;
  padding-left: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -27px;
}

.form-error {
  z-index: 0;
  position: relative;
  text-align: center;
  font-family: var(--font-bold);
  font-weight: 500;
  font-size: 0.9em;
  color: var(--color-white);
  line-height: 1;
  margin-top: 30px;
  margin-bottom: 0px;
}

.alert-text-success{
  color: white;
}

.alert-text-failed {
  color: red;
}

/* User agent hack */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
  box-shadow: 0 0 0px 1000px var(--blue-bg) inset !important;
 -webkit-box-shadow: 0 0 0px 1000px #8b5bd7 inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill
{
 -webkit-text-fill-color: var(--color-white)!important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}