@use 'sass:math';
/*--------------------------------------*\
       $Variables
\*--------------------------------------*/

$columns: 16!default;
$gutter: 20px!default;
$medium: 640px!default;
$large: 1170px!default;
$xlarge: 1560px!default;

/*--------------------------------------*\
       $Mixins
\*--------------------------------------*/

@mixin responsive-columns($suffix: ''){
	@for $i from 0 through $columns {
	    @if $i != 0 {
            .col#{$suffix}-#{$i}{ width: math.div($i, $columns) * 100%; }
	    }
	    .col#{$suffix}-center{ margin: 0 auto; float: none; }
	    .col#{$suffix}-push-#{$i}{ left: math.div($i, $columns) * 100%; }
	    .col#{$suffix}-offset-#{$i}{ margin-left: math.div($i, $columns) * 100%; }
	    .col#{$suffix}-pull-#{$i}{ right: math.div($i, $columns) * 100%; }
    }	
}

/*--------------------------------------*\
       $Extends
\*--------------------------------------*/

%col{
	float: left;
	position: relative;
	min-height: 1px;
	padding: 0 $gutter * 0.5;

	/*--------------------------------------*\
       border: 1px solid #FF0000;
\*--------------------------------------*/
}

/*--------------------------------------*\
       $Class
\*--------------------------------------*/

.row{
	margin: 0 $gutter * -0;
	&::after {
		display: block;
		content: "";
		clear: both;
	  }
}

/*--------------------------------------*\
       $Grid
\*--------------------------------------*/

@for $i from 1 through $columns {
	.col-s-#{$i}, .col-m-#{i}, .col-l-#{$i}, .col-xl-#{$i}{ @extend %col; }
}

.s-hide{ display: none; }
.s-show{ display: block; }


@include responsive-columns('-s');

/*--------------------------------------*\
       $RESPONSIVE
\*--------------------------------------*/

/* Medium Screen */

@media only screen and (min-width: $medium) {
.col-m-center { margin:0 auto; float: none;}
	@include responsive-columns('-m');

.m-hide{ display: none; }
.m-show{ display: block; }

}

/* Large Screen */

@media only screen and (min-width: $large) {
.col-l-center { margin:0 auto; float: none;}
@include responsive-columns('-l');

.l-show{ display: block; }
.l-hide{ display: none; }

}

/* Extra Large Screen */

@media only screen and (min-width: $xlarge) {
.col-xl-center { margin:0 auto; float: none;}
@include responsive-columns('-xl');

.xl-show{ display: block; }
.xl-hide{ display: none; }

}