.swal2-title {
    font-family: var(--font-bold);
    color: var(--color-black);
    letter-spacing: var(--letter-spacing);
    font-weight: 600;
    font-size: 0.8em;
  }

.swal2-overlay {
    background-color: rgba(138, 84, 251, 0.45);
}

.swal2-modal {
    background: var(--gradient-bg-blue-invert);
    border: 1px solid black!important;
}

.swal2-html-container {
    z-index: 1;
    justify-content: center;
    margin: 1em 1.6em 0.3em;
    padding: 0;
    overflow: auto;
    font-family: var(--font-bold);
    color: var(--color-black);
    font-size: 1em;
    font-weight: 600;
    letter-spacing: var(--letter-spacing);
    font-weight: normal;
    line-height: normal;
    text-align: center;
    word-wrap: break-word;
    word-break: break-word;
  }