:root {
    --grey-bg: #f2e8f0;
    --green-bg: #ce7d48;
    --grey-bg-dark: #b46f92;
    --blue-bg: rgba(138, 84, 251, 0.8);
    --color-black: black;
    --color-white: white;
    --white-shadow: rgba(255, 255, 255, 0.3);
    --grey-shadow: rgba(227, 227, 227, 0.3);
    --grey-shadow-dark: rgba(227, 227, 227, 0.6);
    --grey-shadow-hover: rgba(227, 227, 227, 0.8);
    --grey-color-piker-bg: rgba(227, 227, 227, 0.3);
    --select-bg:rgba(227, 227, 227, 0.3);
    --black-shadow: rgba(0, 0, 0, 0.15);
    --black-shadow-hover: rgba(0, 0, 0, 0.25);
    --hgradient: url(#heart_gradient);
    --bgradient: url(#bear_gradient);
    --gradient: linear-gradient(-180deg, #FF79DA, #9356DC);
    --gradient-grey-bg: linear-gradient(-180deg, #f2e8f0, #c3c3c3);
    --gradient-bg-blue: linear-gradient(90deg, rgba(129, 102, 84, 0.8) 0%, rgba(138, 84, 251, 0.8) 100%);
    --gradient-bg-blue-invert: linear-gradient(-90deg, rgba(129, 102, 84, 0.8) 0%, rgba(138, 84, 251, 0.8) 100%);
    --gradient-brown-dark: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
    --gradient-brown-dark-invert: linear-gradient(315deg, #f2a65a 0%, #772f1a 74%);
    --gradient-brown-light: linear-gradient(315deg, #e8c99b 0%, #e8bc85 74%);
    --gradient-brown-light-invert: linear-gradient(315deg, #e8bc85 0%, #e8c99b 74%);
    --gradient-brown-middle: linear-gradient(315deg, #f2c17d 0%, #b82e1f 74%);
    --gradient-brown-middle-invert: linear-gradient(315deg, #b82e1f 0%, #f2c17d 74%);

    --footer-bg: #353535;
    --font-light: "Roboto";
    --font-regular: "Roboto";
    --font-bold: "Roboto";

    --letter-spacing: 0.5px;
}
