@charset "UTF-8";
/*
Project Name: P5 Orinoco e-commerce
Description: Orinoco e-commerce
Version: 1.0
Author: Blas Pierre-Gérard
Email: pierreg.blas@gmail.com
Git repository: https://gitlab.com/pgb_oc/orinoco
GitLab page: https://pgb_oc.gitlab.io/orinoco/
Server: nodejs localhost:3000
Methodology: BEM + variables + SASS
Tags: html5, front-end, web api
Creation date: 09/07/2021
Last modification: 06/10/2021

  ---------------------------
  MAIN STYLES
  ---------------------------

  TABLE OF CONTENTS
  ---------------------------
   01. Global styles
   02. Header - Navigation Menu
   03. Main - Products
   04. Footer
   05. Forms
   06. Animations
   07. Responsive rules
*/
/* ===================================================================================================== */
/* 01. Global styles                                                                                     */
/* ===================================================================================================== */
:root {
  --grey-bg: #f2e8f0;
  --green-bg: #ce7d48;
  --grey-bg-dark: #b46f92;
  --blue-bg: rgba(138, 84, 251, 0.8);
  --color-black: black;
  --color-white: white;
  --white-shadow: rgba(255, 255, 255, 0.3);
  --grey-shadow: rgba(227, 227, 227, 0.3);
  --grey-shadow-dark: rgba(227, 227, 227, 0.6);
  --grey-shadow-hover: rgba(227, 227, 227, 0.8);
  --grey-color-piker-bg: rgba(227, 227, 227, 0.3);
  --select-bg:rgba(227, 227, 227, 0.3);
  --black-shadow: rgba(0, 0, 0, 0.15);
  --black-shadow-hover: rgba(0, 0, 0, 0.25);
  --hgradient: url(#heart_gradient);
  --bgradient: url(#bear_gradient);
  --gradient: linear-gradient(-180deg, #FF79DA, #9356DC);
  --gradient-grey-bg: linear-gradient(-180deg, #f2e8f0, #c3c3c3);
  --gradient-bg-blue: linear-gradient(90deg, rgba(129, 102, 84, 0.8) 0%, rgba(138, 84, 251, 0.8) 100%);
  --gradient-bg-blue-invert: linear-gradient(-90deg, rgba(129, 102, 84, 0.8) 0%, rgba(138, 84, 251, 0.8) 100%);
  --gradient-brown-dark: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
  --gradient-brown-dark-invert: linear-gradient(315deg, #f2a65a 0%, #772f1a 74%);
  --gradient-brown-light: linear-gradient(315deg, #e8c99b 0%, #e8bc85 74%);
  --gradient-brown-light-invert: linear-gradient(315deg, #e8bc85 0%, #e8c99b 74%);
  --gradient-brown-middle: linear-gradient(315deg, #f2c17d 0%, #b82e1f 74%);
  --gradient-brown-middle-invert: linear-gradient(315deg, #b82e1f 0%, #f2c17d 74%);
  --footer-bg: #353535;
  --font-light: "Roboto";
  --font-regular: "Roboto";
  --font-bold: "Roboto";
  --letter-spacing: 0.5px;
}

.swal2-title {
  font-family: var(--font-bold);
  color: var(--color-black);
  letter-spacing: var(--letter-spacing);
  font-weight: 600;
  font-size: 0.8em;
}

.swal2-overlay {
  background-color: rgba(138, 84, 251, 0.45);
}

.swal2-modal {
  background: var(--gradient-bg-blue-invert);
  border: 1px solid black !important;
}

.swal2-html-container {
  z-index: 1;
  justify-content: center;
  margin: 1em 1.6em 0.3em;
  padding: 0;
  overflow: auto;
  font-family: var(--font-bold);
  color: var(--color-black);
  font-size: 1em;
  font-weight: 600;
  letter-spacing: var(--letter-spacing);
  font-weight: normal;
  line-height: normal;
  text-align: center;
  word-wrap: break-word;
  word-break: break-word;
}

* {
  box-sizing: border-box;
}

/*html * {
    border: 1px solid red;
}*/
body {
  margin: 0;
  padding: 0;
  background: transparent;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

a {
  transition: all 0.3s ease-in-out;
  outline: none !important;
  color: var(--color-black) !important;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

ul li,
ul {
  max-width: 100%;
  color: var(--color-black);
}

h1 {
  font-family: var(--font-bold);
  font-weight: 500;
  font-size: 1.2em;
  color: var(--color-black);
  padding-top: 0px;
  /*background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}

h1.center-title {
  display: flex;
  justify-content: center;
}

p.center-text {
  display: flex;
  justify-content: center;
  font-family: var(--font-bold);
  color: var(--color-black);
  font-weight: 400;
  font-size: 0.9em;
  letter-spacing: var(--letter-spacing);
  margin-top: -5px;
  margin-bottom: 10px;
}

/* ===================================================================================================== */
/* 02. Header - Navigation Menu                                                                          */
/* ===================================================================================================== */
header {
  background: var(--grey-bg);
  height: 100px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: content-box;
}

nav img {
  margin: 20px;
}

nav .cart {
  align-items: flex-end;
}

nav .cart i {
  margin-left: 35%;
}

nav p.cart-text {
  display: flex;
  font-family: var(--font-bold);
  color: var(--color-black);
  font-weight: 400;
  font-size: 0.8em;
  letter-spacing: var(--letter-spacing);
  padding-left: 5px;
  margin-top: 15px;
  padding-bottom: 8px !important;
}

.number-products-container {
  z-index: -1 !important;
  display: flex;
  margin-top: -55px !important;
  padding-bottom: 5px !important;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  height: auto;
  width: auto;
  max-width: 100%;
  border-radius: 10px;
  border-radius: 10px;
  justify-content: center;
}

.cart-number {
  display: flex;
  font-family: var(--font-bold);
  color: var(--color-black);
  font-weight: 700;
  font-size: 0.9em;
  letter-spacing: var(--letter-spacing);
  padding-left: 7px;
  margin-top: 0px !important;
}

/* ===================================================================================================== */
/* 03. Main - Products                                                                                   */
/* ===================================================================================================== */
main {
  background: var(--grey-bg);
  height: 100%;
  margin-top: 3px;
}

.alert-nojs,
.alert-404 {
  z-index: 2;
  text-align: center;
  color: var(--font-color);
  font-size: 1.8em;
  padding: 20px;
  font-family: var(--font-bold);
  letter-spacing: var(--letter-spacing);
  justify-items: center !important;
}

.alert-404 {
  color: var(--color-white) !important;
}

.alert-404 a {
  font-size: 0.5em;
  color: var(--color-white) !important;
}

button.button-404 {
  justify-items: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

#products {
  display: flex;
  flex-basis: 100%;
  height: 100%;
}

#product {
  display: flex;
  flex-basis: 100%;
  height: 100%;
  width: 100%;
}

.card-container {
  max-height: 370px;
  max-width: 100%;
  margin-bottom: 5px !important;
  box-sizing: content-box;
}

.products-card:last-child {
  margin-bottom: 20px !important;
  margin-right: 30px !important;
}

.products-card {
  margin-top: 15px !important;
}

.card-container {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.products-container {
  display: flex;
  flex-basis: 100%;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center !important;
  margin-bottom: 5px !important;
  margin: 0px;
}

.products-card-content {
  position: absolute;
  display: block;
  margin-top: 275px !important;
  min-width: 335px !important;
  height: 75px !important;
  background: var(--gradient-bg-blue-invert);
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.card-content_title {
  margin-left: 15px;
  margin-top: 10px;
  color: var(--color-white);
  font-family: var(--font-bold);
  font-size: 1em;
  letter-spacing: var(--letter-spacing);
}

h2.card-title {
  z-index: 1;
  position: relative;
  font-family: var(--font-bold);
  font-weight: 700;
  font-size: 24px;
  color: var(--font-color);
  letter-spacing: 0.5px !important;
  margin: 50px 50px 40px 50px !important;
}

.card-content_title a {
  text-decoration: none;
}

.card-content_title a:hover {
  color: var(--grey-font-card-alert) !important;
}

.card-content_desc {
  position: absolute;
  width: 80%;
  padding: 20px 10px 15px 15px;
  padding-bottom: 30px;
  margin-top: -35px;
  font-weight: 300;
  font-size: 0.8em;
  color: var(--color-white);
  font-family: var(--font-light);
  letter-spacing: var(--letter-spacing);
}

.card-content_price {
  position: absolute;
  display: inline;
  padding: 10px 5px 15px 15px;
  font-size: 1em;
  color: var(--color-white);
  font-family: var(--font-bold);
  letter-spacing: var(--letter-spacing);
  margin-left: 255px;
  margin-top: -45px !important;
}

.card-content_icon {
  z-index: 1;
  position: absolute;
  display: inline;
  vertical-align: middle;
  margin-left: 290px;
  margin-top: -5px !important;
}

/*Heart SVG icon animation*/
.heart-svg-icon {
  fill: transparent !important;
  stroke: var(--color-white) !important;
  stroke-width: 20;
  cursor: pointer;
  position: relative;
}

.heart-svg-icon svg {
  overflow: visible;
  width: 20px;
  height: 20px;
}

.heart-svg-icon:after {
  z-index: 2;
  border: 0px solid black !important;
  /*background-color: transparent!important;*/
  box-sizing: border-box !important;
}

.heart-svg-icon:hover:after {
  z-index: 2;
  border-width: 22px !important;
}

.heart-svg-icon path {
  stroke-dashoffset: 0;
  stroke-dasharray: 1550;
  transform-origin: center;
}

/*Fix margin for Chrome OK for firefox...*/
.heart-svg-icon .heart-background {
  position: absolute;
  left: 26px;
  right: 0;
  bottom: 0;
  top: -8px;
  z-index: -1;
  margin-left: -26px;
}

.heart-svg-icon .heart-body:hover path {
  animation: stroke-animation 0.8s ease-in-out forwards;
}

.heart-svg-icon .heart-body:hover ~ .heart-background path {
  animation: fade-animation 0.8s ease-in-out forwards;
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 3100;
  }
  30% {
    stroke-dashoffset: 3100;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: var(--hgradient);
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3100;
    fill: url(#heart_gradient);
    stroke: var(--hgradient);
  }
}
@keyframes fade-animation {
  0% {
    transform: scale(0.2);
    margin-top: -15px;
  }
  30% {
    transform: scale(0.5);
  }
  60% {
    transform: scale(0.8);
  }
  70% {
    fill: transparent !important;
    transform: scale(1);
  }
  80% {
    fill: var(--hgradient);
    transform: scale(1.1);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/*End of Heart SVG icon animation*/
.bear-svg-icon {
  fill: transparent !important;
  stroke: var(--color-white);
  stroke-width: 1 !important;
  cursor: pointer;
  position: relative;
}

li.product-color-list {
  display: inline;
  margin-right: 0px;
}

.bear-svg-product svg {
  overflow: visible;
  width: 80px;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.bear-svg-icon svg {
  overflow: visible;
  width: 40px;
  height: 40px;
}

.bear-svg-icon:after {
  z-index: 2;
  border: 0px solid brown !important;
  /*background-color: transparent!important;*/
  box-sizing: border-box !important;
}

.bear-svg-icon:hover:after {
  z-index: 2;
  border-width: 22px !important;
}

.bear-svg-icon path {
  stroke-dashoffset: 0;
  stroke-dasharray: 1550;
  transform-origin: center;
}

/*Fix margin for Chrome OK for firefox...*/
.bear-svg-icon .bear-background {
  position: absolute;
  left: 26px;
  right: 0;
  bottom: 0;
  top: 0px;
  z-index: -1;
  margin-left: -26px;
}

.bear-svg-icon .bear-body:hover path {
  animation: stroke-animation-02 0.8s ease-in-out forwards;
}

.bear-svg-icon .bear-body:hover ~ .bear-background path {
  animation: fade-animation-02 0.8s ease-in-out forwards;
}

/*Bear SVG icon animation*/
@keyframes stroke-animation-02 {
  0% {
    stroke-dashoffset: 3100;
  }
  30% {
    stroke-dashoffset: 3100;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: var(--bgradient);
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3100;
    fill: url(#bear_gradient);
    stroke: var(--bgradient);
  }
}
@keyframes fade-animation-02 {
  0% {
    transform: scale(0.2);
    margin-top: -15px;
  }
  30% {
    transform: scale(0.5);
  }
  60% {
    transform: scale(0.8);
  }
  70% {
    fill: transparent !important;
    transform: scale(1);
  }
  80% {
    fill: var(--bgradient);
    transform: scale(1.1);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/*End of Bear SVG icon animation*/
.products-card {
  display: flex;
  flex-basis: 23.33%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  min-width: 335px !important;
  max-height: 350px !important;
  background-color: var(--white-bg);
  margin-left: 37px;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box !important;
  overflow: hidden !important;
}

.products-card-img {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  min-width: 334px !important;
  min-height: 350px !important;
  margin: 0px 0px 80px 0px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  overflow: hidden !important;
  text-decoration: none;
}

.products-card-img:hover .products-img_image {
  transform: scale(1.2);
}

.products-card-img:hover .products-img_hover {
  visibility: visible;
  opacity: 1;
}

.products-card-img:hover .products-img_name {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

.products-img_image {
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  min-width: 335px !important;
  max-height: 360px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  box-sizing: border-box;
  transform: scale(1);
  will-change: transform;
  transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 0;
  overflow: hidden !important;
}

.products-zoom-adjustment {
  width: 100% !important;
  margin-top: 0% !important;
  margin-left: 0% !important;
  min-height: 360px !important;
}

.products-zoom-adjustment-02 {
  width: 100% !important;
  margin-top: -44% !important;
  margin-left: 0% !important;
}

.products-img_alert-new {
  position: absolute;
  width: 80px;
  height: 30px;
  background: var(--gradient-bg-blue);
  border-radius: 2.5px;
  margin-left: 240px;
  margin-top: -285px;
}

.products-img_alert-new .alert-text {
  position: relative;
  font-family: var(--font-bold);
  font-weight: 500;
  color: var(--color-white);
  font-size: 14px;
  padding: 12px;
  top: 7px !important;
  padding-top: 0px !important;
}

.products-img_hover {
  visibility: hidden;
  display: block;
  position: absolute;
  width: 335px !important;
  min-height: 350px !important;
  background: radial-gradient(rgba(47, 48, 50, 0.1), rgba(47, 48, 50, 0.3));
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.15);
  transition: visibility 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
  overflow: hidden !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.products-img_name {
  visibility: hidden;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  transform: scale(0.6);
  transform-origin: center center;
  transition: visibility 0.14s ease-out, opacity 0.14s ease-out, transform 0.24s ease;
  opacity: 0;
}

.products-img_name .see-more {
  color: var(--color-white);
  font-family: var(--font-bold);
  letter-spacing: 1px;
  font-size: 1em;
  background: var(--gradient-bg-blue);
  padding: 7px;
  margin-top: -2%;
  margin-left: -3%;
  text-align: center;
}

/*Product page*/
#product {
  display: flex;
  flex-basis: 100%;
  height: 100%;
}

.alert-added-confirmation-text {
  padding-top: 10px;
  text-align: center;
  color: white;
  font-family: var(--font-bold);
  font-size: 1em;
  letter-spacing: var(--letter-spacing);
}

.product-image-container {
  display: flex;
  flex-basis: 100%;
  height: 90vh;
  width: 100%;
  min-height: auto;
  max-height: 750px;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0px;
  background-color: rgba(255, 255, 255, 0.4);
  justify-content: center;
  background: var(--gradient-bg-blue);
  border-radius: 10px;
}

.product-infos-container {
  display: flex;
  flex-basis: 100%;
  height: 90vh;
  width: 100%;
  height: 750px;
  max-height: 100%;
  margin: 20px 0px;
  flex-direction: row;
  flex-wrap: wrap;
  background: var(--gradient-bg-blue-invert);
  border-radius: 10px;
  align-items: flex-start !important;
  align-content: space-around;
}

.product-img {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  top: 7%;
  left: 10%;
  height: auto;
  min-width: 335px !important;
  min-height: 335px !important;
  margin: 0px 0px 80px 0px !important;
  overflow: hidden !important;
  text-decoration: none;
}

.product-image,
.product-description,
.product-cart-list {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  height: auto;
  width: auto;
  /*min-width: 335px!important;
  min-height: 335px!important;*/
  background-color: var(--white-bg);
  cursor: pointer;
  box-sizing: border-box !important;
  overflow: hidden !important;
  /*justify-content: center;*/
  align-items: flex-start;
}

.product-img_image {
  position: absolute;
  top: 0px;
  left: -10%;
  width: 100% !important;
  height: 95% !important;
  min-width: 335px !important;
  min-height: 335px !important;
  box-sizing: border-box;
  z-index: 0;
  overflow: hidden !important;
  align-items: center !important;
}

.product-img_image:hover {
  transform: scale(1.05) !important;
  will-change: transform !important;
  transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94) !important;
}

img.product-zoom {
  width: 80% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  overflow: hidden;
  border-radius: 10px;
}

.product-content-title {
  color: var(--color-white);
  font-family: var(--font-bold);
  font-size: 1.3em;
  letter-spacing: var(--letter-spacing);
  margin-left: 20px;
  margin-top: 20px;
}

.form-title {
  margin-top: 20px;
}

.product-content-desc {
  display: flex;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 15px;
  font-weight: 300;
  font-size: 1em;
  color: var(--color-white);
  font-family: var(--font-light);
  letter-spacing: var(--letter-spacing);
}

.product-forms-container {
  width: 100%;
}

form.quantity-form input {
  margin-top: 40px;
  max-width: 250px;
}

form.quantity-form label {
  margin-top: -19px;
  margin-left: 10px;
  max-width: 250px;
}

label.product-content-list-option-title {
  margin-left: 5px;
}

form.options-form select {
  max-width: 250px;
}

.product-price {
  margin-top: 15px;
}

.product-price {
  padding: 15px !important;
  max-width: 180px;
  font-size: 1em;
  background: var(--gradient-bg-blue);
  border-radius: 10px;
  color: var(--color-white);
  font-family: var(--font-bold);
  letter-spacing: var(--letter-spacing);
  text-align: center;
}

.product-card-total-container {
  display: flex;
  margin-left: 73%;
  margin-right: 20px;
  margin-bottom: 25px;
  padding: 15px;
  height: auto;
  width: auto;
  max-width: 370px;
  border-radius: 10px;
  background: var(--gradient-bg-blue);
  border-radius: 10px;
  justify-content: center;
}

.product-card-empty-container {
  display: flex;
}

.product-card-empty {
  padding: 15px;
  margin-left: 10px;
}

.product-card-total,
.product-card-empty {
  color: var(--color-white);
  font-family: var(--font-bold);
  font-size: 1.3em;
  letter-spacing: var(--letter-spacing);
}

.product-content-list-title,
.product-content-color,
.product-content-unit-price {
  display: flex;
  margin-left: 20px;
  color: var(--color-white);
  font-family: var(--font-bold);
  font-size: 1em;
  letter-spacing: var(--letter-spacing);
}

.product-content-unit-price {
  margin-left: 30px !important;
}

.product-content-list-option-title {
  display: flex;
  margin-top: -20px !important;
  padding: 20px;
  padding-left: 0px;
  color: var(--color-white);
  font-family: var(--font-bold);
  font-size: 1em;
  letter-spacing: var(--letter-spacing);
}

.product-description ul.color-picker-bg {
  background: var(--grey-color-piker-bg);
  height: 60px;
  margin-left: 20px;
  border-radius: 10px;
  width: auto;
  max-width: 400px;
}

.product-description ul {
  margin-top: 0px;
}

.product-description ul li {
  color: var(--color-white);
  font-family: var(--font-bold);
  font-size: 1em;
  line-height: 25px !important;
}

svg#productColor01 {
  color: white !important;
  stroke: white !important;
}

svg#productColor02 {
  color: tan !important;
  stroke: tan !important;
}

svg#productColor03 {
  color: chocolate !important;
  stroke: chocolate !important;
}

svg#productColor04 {
  color: #A52A2A !important;
  stroke: #A52A2A !important;
}

svg#productColor01,
svg#productColor02,
svg#productColor03,
svg#productColor04 {
  stroke-width: 5 !important;
}

svg#productColor01:hover,
svg#productColor02:hover,
svg#productColor03:hover,
svg#productColor04:hover {
  stroke-width: 130 !important;
}

/*Shopping cart page*/
.product-items-list-container {
  display: flex;
  flex-basis: 100%;
  margin-top: 20px;
  height: 90vh;
  width: 100%;
  height: auto;
  max-height: 100%;
  background: var(--gradient-bg-blue);
  border-radius: 10px;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  align-content: space-between;
}

.display-cart-position {
  padding-bottom: 40px !important;
}

.cart-product-list-container {
  flex-direction: row;
  background: var(--grey-color-piker-bg);
  height: 150px;
  margin-left: 20px;
  border-radius: 10px;
  width: auto;
  max-width: 95%;
  margin-top: 15px;
  margin-bottom: 25px;
}

.cart-product-list-container:hover {
  transform: scale(1.02);
  transition: ease 0.25s;
  box-shadow: 3px 3px 3px 3px var(--grey-shadow);
}

.product-list-img {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  top: 0;
  height: auto;
  width: 200px !important;
  height: 150px !important;
  margin: 0px 0px 0px 0px !important;
  overflow: hidden !important;
  text-decoration: none;
}

.product-list-img:hover {
  display: block;
  margin-left: -10px !important;
  transition: ease 0.25s;
}

img.product-list-zoom {
  width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  overflow: hidden;
  border-radius: 10px;
}

.cart-product-list-content {
  display: flex;
  margin-top: 1px;
  margin-left: 5%;
  margin-right: -1.5%;
  padding-bottom: 9px;
  width: auto;
  max-width: 100%;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  background: var(--gradient-bg-blue-invert);
  border-radius: 10px;
}

.cart-product-list-content:hover {
  background: var(--gradient-bg-blue);
}

/*Product widgets section*/
.product-widgets-container {
  position: absolute;
  display: block;
  width: auto;
  max-width: 50%;
}

.product-widget-quantity {
  display: flex;
  flex-direction: row;
  margin-left: 76%;
  margin-top: -1.1%;
  padding-right: 20px;
}

.product-widget-increment,
.product-widget-decrement,
.product-widget-items-number {
  background: var(--grey-color-piker-bg);
  border-radius: 50%;
  align-items: center;
  color: var(--grey-bg);
  font-family: var(--font-bold);
  font-size: 1.3em !important;
  letter-spacing: var(--letter-spacing);
  padding-right: 10px !important;
  padding-left: 8px !important;
  height: 20px;
  width: 20px;
}

.product-widget-increment:hover,
.product-widget-decrement:hover {
  transform: scale(1.2);
}

.product-widget-items-number {
  width: auto !important;
}

.product-increment {
  margin-top: -3px !important;
  margin-left: -6px;
}

.product-decrement {
  margin-top: -3px !important;
  margin-left: -3px;
}

.product-widget-decrement,
.product-widget-increment {
  margin-top: -15px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.product-widget-increment:hover,
.product-widget-decrement:hover {
  color: var(--color-white);
}

.product-widget-items-number {
  font-size: 1.1em !important;
  background: none !important;
  margin-top: -15px !important;
  padding-right: 15px;
  padding-left: 5px;
}

.product-widget-delete {
  position: absolute;
  display: block;
  margin-right: 10px !important;
  margin-top: 14%;
  margin-left: 87%;
}

.far.fa-trash-alt {
  color: var(--grey-bg);
}

.far.fa-trash-alt:hover {
  color: var(--color-white);
}

i.icon-delete {
  padding: 5px;
}

.product-content-desc {
  display: flex;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 15px;
  margin-top: 0px;
  font-weight: 400;
  font-size: 1em;
  color: var(--color-white);
  font-family: var(--font-bold);
  letter-spacing: var(--letter-spacing);
}

.product-content-price {
  position: absolute;
  display: block;
  text-align: right;
  margin-right: 20px;
  margin-left: 71%;
  margin-top: 2.7%;
  color: var(--color-white);
  font-family: var(--font-bold);
  font-size: 1.1em;
  letter-spacing: var(--letter-spacing);
}

.form-container {
  display: flex;
  flex-basis: 100% !important;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  max-width: 500px !important;
  min-width: 350px !important;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.form-desc {
  margin-bottom: 0px;
}

/*Confirmation page*/
.confirm-infos-container {
  display: flex;
  flex-basis: 100%;
  height: 90vh;
  width: 100%;
  height: 700px;
  max-height: 100%;
  margin: 20px 0px;
  flex-direction: row;
  flex-wrap: wrap;
  background: var(--gradient-bg-invert);
  border-radius: 10px;
  align-items: flex-start !important;
  align-content: space-around;
  justify-content: center;
}

.confirm-content-container {
  flex-direction: row;
  background: var(--grey-color-piker-bg);
  background-color: rgba(255, 255, 255, 0.4);
  justify-content: center;
  background: var(--gradient-bg-blue);
  height: 100%;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin: 10px;
  border-radius: 10px;
  width: auto;
}

.confirm-content-text,
.confirm-content-list {
  display: block;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 1em;
  color: var(--color-white);
  font-family: var(--font-light);
  letter-spacing: var(--letter-spacing);
}

.confirm-content-list {
  padding: 10px !important;
}

ul.confirm-content-text {
  margin-top: -10px;
}

/*Button style*/
button {
  display: block;
  border: none;
  background: var(--gradient-bg-blue);
  height: 60px;
  width: 100%;
  max-width: 250px;
  padding: 10px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px var(--grey-shadow);
  transition: all 0.3s ease-in-out;
  outline: none !important;
  color: var(--color-black) !important;
  text-decoration: none;
}

button a,
button {
  font-family: var(--font-bold);
  font-weight: 500;
  color: var(--color-white) !important;
  letter-spacing: var(--letter-spacing);
  font-size: 1em;
}

button:hover {
  background: var(--gradient-bg-blue-invert);
  box-shadow: 0px 0px 0px 0px var(--grey-shadow);
  cursor: pointer;
}

button.product-delete {
  display: block;
  background: none;
  box-shadow: none;
  height: 25px !important;
  padding: 0px !important;
}

/* ===================================================================================================== */
/* 04. Footer section                                                                                    */
/* ===================================================================================================== */
footer {
  display: flex;
  flex-basis: 100%;
  height: 100%;
  margin-top: 5px;
}

.footer-container {
  display: flex;
  flex-basis: 100%;
  justify-content: space-around;
  min-height: 220px;
  height: auto;
  width: 100%;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--gradient-bg-blue-invert);
}

.footer-links-container {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  margin-right: auto;
  margin-top: 20px;
}

.first-links-container {
  margin-top: 50px !important;
}

h2.footer-title {
  position: absolute;
  margin-left: 10px;
  font-family: var(--font-bold);
  font-weight: 700 !important;
  font-size: 1.15em;
  color: var(--color-white);
  margin-left: 38px;
}

.footer-social-container {
  margin-top: -45px !important;
}

.footer-links-container ul {
  list-style-type: none;
}

.footer-links-container ul li {
  font-family: var(--font-regular);
  font-weight: 500 !important;
  font-size: 1em;
  line-height: 30px !important;
}

.footer-links-container ul li a,
.link-footer {
  color: var(--grey-bg) !important;
  text-decoration: none;
}

.footer-links-container ul li a:hover,
a.link-footer:hover,
.fas:hover {
  color: var(--color-white) !important;
}

p.footer-text {
  color: var(--color-white);
  font-family: var(--font-regular);
  font-weight: 400 !important;
  font-size: 1em;
  line-height: 1.5em !important;
  margin-left: 38px;
  padding: 20px !important;
  padding-left: 0px !important;
}

.footer-social-icon {
  margin: 50px;
}

i {
  z-index: 0;
  display: flex !important;
}

.fa {
  color: var(--grey-bg);
  font-size: 2em !important;
}

.fa:hover {
  color: var(--color-white);
}

.fas {
  font-size: 1em;
  display: block;
}

.fas.fa-shopping-cart {
  font-size: 1.5em;
  background: -webkit-linear-gradient(-50deg, rgba(129, 102, 84, 0.6) 30%, rgba(138, 84, 251, 0.6) 0%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ===================================================================================================== */
/* 05. Forms                                                                                             */
/* ===================================================================================================== */
/* ===================================================================================================== */
/* Forms select styles                                                                                   */
/* ===================================================================================================== */
.custom-select {
  display: block;
  font-family: var(--font-bold);
  font-weight: 500;
  font-size: 1em;
  color: var(--color-white);
  line-height: 1;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  border: none;
  box-shadow: 2px 2px 2px 2px var(--grey-shadow);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--blue-bg);
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), var(--gradient-bg-blue);
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right 0.7em top 50%, 0 0;
  /* icon size, then gradient */
  background-size: 0.65em auto, 100%;
}

/* Hide icon for IE */
.custom-select::-ms-expand {
  display: none;
}

.custom-select:hover {
  box-shadow: none;
}

.custom-select:focus {
  color: var(--grey-bg);
  outline: none;
}

/* Set options to normal weight */
.custom-select option {
  font-weight: normal;
  border-radius: 0.5em;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir=rtl] .custom-select,
:root:lang(ar) .custom-select,
:root:lang(iw) .custom-select {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}

/* Disabled styles */
.custom-select:disabled,
.custom-select[aria-disabled=true] {
  color: var(--grey-bg);
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), var(--gradient-bg-blue);
}

.custom-select:disabled:hover,
.custom-select[aria-disabled=true] {
  border-color: var(--blue-bg);
}

/* For IE <= 11 */
select::-ms-expand {
  display: none;
}

/* ===================================================================================================== */
/* Form styles                                                                                           */
/* ===================================================================================================== */
.input-container {
  padding: 0px;
  padding-bottom: 0.05px;
}

form label {
  z-index: 0;
  position: absolute;
  width: 85px;
  font-family: var(--font-bold);
  font-weight: 500;
  font-size: 0.8em;
  color: var(--color-white);
  line-height: 1;
  padding-top: 2em;
  left: 1.6em;
  margin-top: -1.2em;
  letter-spacing: var(--letter-spacing);
}

form input {
  z-index: 2;
  display: block;
  font-family: var(--font-bold);
  font-weight: 500;
  font-size: 0.9em;
  color: var(--color-white);
  line-height: 1;
  padding: 0.6em 1.4em 0.5em 7.5em;
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 30px;
  border: none;
  box-shadow: 2px 2px 2px 2px var(--grey-shadow);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--blue-bg);
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), var(--gradient-bg-blue);
  background-repeat: no-repeat, repeat;
}

form input:hover,
form input:focus,
form input:active {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), var(--gradient-bg-blue-invert);
  outline: none;
  box-shadow: none !important;
}

form input::placeholder {
  color: var(--grey-bg);
}

form button:disabled {
  display: block;
  border: none;
  background: rgba(195, 195, 195, 0.4);
  height: 60px;
  width: 100%;
  max-width: 250px;
  padding: 10px;
  margin: 20px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(255, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  outline: none !important;
  color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

.form-icon-container {
  z-index: 0;
  margin-left: -40px;
  margin-top: -45px;
  width: 5%;
}

.form-invalid-icon-container {
  z-index: 0;
  margin-left: -32.5px;
  margin-top: -45px;
  width: 5%;
}

.fas.fa-check {
  color: greenyellow !important;
}

.fas.fa-exclamation {
  color: red !important;
}

button#sendOrder {
  margin-top: 10px;
}

.alert-bg {
  background-color: rgba(255, 0, 0, 0.2);
  box-shadow: 2px 2px 2px 2px rgba(255, 0, 0, 0.2);
  border-radius: 0.5em;
}

.error-message {
  z-index: 0;
  position: relative;
  text-align: right;
  font-family: var(--font-bold);
  font-weight: 500;
  font-size: 0.8em;
  color: var(--color-white);
  line-height: 1;
  padding-left: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -27px;
}

.form-error {
  z-index: 0;
  position: relative;
  text-align: center;
  font-family: var(--font-bold);
  font-weight: 500;
  font-size: 0.9em;
  color: var(--color-white);
  line-height: 1;
  margin-top: 30px;
  margin-bottom: 0px;
}

.alert-text-success {
  color: white;
}

.alert-text-failed {
  color: red;
}

/* User agent hack */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0px 1000px var(--blue-bg) inset !important;
  -webkit-box-shadow: 0 0 0px 1000px #8b5bd7 inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: var(--color-white) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

/* ===================================================================================================== */
/* 06. Animations                                                                                        */
/* ===================================================================================================== */
/* ===================================================================================================== */
/* Progressive appear elements animation                                                                     */
/* ===================================================================================================== */
.card-animation:nth-child(1) {
  animation: appear 1s ease 0s 1 normal;
  -webkit-animation: appear 1s ease 0s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.card-animation:nth-child(2) {
  animation: appear 2s ease 2s 1 normal;
  -webkit-animation: appear 2s ease 1s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.card-animation:nth-child(3) {
  animation: appear 3s ease 4s 1 normal;
  -webkit-animation: appear 3s ease 2s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.card-animation:nth-child(4) {
  animation: appear 4s ease 6s 1 normal;
  -webkit-animation: appear 4s ease 3s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.card-animation:nth-child(5) {
  animation: appear 5s ease 8s 1 normal;
  -webkit-animation: appear 5s ease 4s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.card-animation:nth-child(6) {
  animation: appear 6s ease 10s 1 normal;
  -webkit-animation: appear 6s ease 5s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.card-animation:nth-child(7) {
  animation: appear 7s ease 12s 1 normal;
  -webkit-animation: appear 7s ease 6s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.card-animation:nth-child(8) {
  animation: appear 8s ease 14s 1 normal;
  -webkit-animation: appear 8s ease 7s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.card-animation:nth-child(9) {
  animation: appear 9s ease 16s 1 normal;
  -webkit-animation: appear 9s ease 8s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.card-animation:nth-child(10) {
  animation: appear 10s ease 18s 1 normal;
  -webkit-animation: appear 10s ease 9s 1 normal;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animation-fadeinup {
  opacity: 0;
}

.fadeinup {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/* fadeInUp */
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/* appear */
@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
/* ===================================================================================================== */
/* 07. Responsive rules                                                                                  */
/* ===================================================================================================== */
/* ===================================================================================================== */
/* 08. Responsive - Desktop and xxl screens                                                              */
/* ===================================================================================================== */
@media screen and (min-width: 1441px) and (max-width: 7700px) {
  h2.footer-title {
    margin-top: -15px !important;
  }

  .footer-social-container {
    margin-top: -75px !important;
  }

  .footer-social-icon {
    margin: 40px !important;
  }

  .product-items-list-container {
    min-height: auto !important;
  }

  .product-description {
    margin-top: -3% !important;
  }

  .form-container {
    margin-top: 5px !important;
  }

  .confirm-infos-container {
    margin-bottom: -100px !important;
  }

  button.confirm-button {
    margin-top: -90px !important;
    margin-bottom: -150px !important;
  }

  .products-card:last-child {
    margin-bottom: 20px !important;
  }

  .products-card {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .card-container {
    margin-top: 20px !important;
    margin-bottom: 30px !important;
  }

  form.quantity-form input {
    margin-top: 40px;
    max-width: 250px;
  }

  form.quantity-form label {
    margin-top: -19px;
    margin-left: 10px;
    max-width: 250px;
  }

  label.product-content-list-option-title {
    margin-left: 22%;
  }

  form.options-form select {
    max-width: 250px;
  }

  .product-price {
    margin-top: 15px;
    margin-left: 20px !important;
  }

  form.quantity-form label {
    margin-left: 15px !important;
  }
}
@media screen and (min-width: 1501px) and (max-width: 7700px) {
  .cart-product-list-content {
    margin-left: 3%;
  }

  .product-card-total-container {
    margin-left: 67%;
  }

  .product-content-unit-price {
    margin-left: 70px !important;
  }

  .product-widget-quantity {
    margin-left: 75%;
    margin-top: -6px;
  }

  .product-content-price {
    margin-left: 75%;
    margin-top: 2% !important;
  }

  .product-widget-delete {
    margin-left: 88%;
    margin-top: 15%;
  }

  .product-content-desc {
    max-width: 600px;
  }

  form.quantity-form input {
    margin-top: 40px;
    max-width: 250px;
  }

  form.quantity-form label {
    display: block;
    margin-top: -14px !important;
    margin-left: 15px !important;
    max-width: 250px;
  }

  label.product-content-list-option-title {
    margin-left: 22%;
  }

  form.options-form select {
    max-width: 250px;
  }

  .product-price {
    margin-top: 15px;
    margin-left: 45px !important;
  }

  .product-delete {
    display: block !important;
    margin-top: 0px;
    margin-left: -10px;
  }

  .product-delete {
    margin-top: -20px;
  }

  .product-content-list-title {
    margin-left: 30px !important;
  }

  .cart-product-list-content {
    margin-top: 0px !important;
    margin-left: 35px !important;
    width: 95% !important;
    height: 150px !important;
  }

  .product-content-desc {
    margin-top: 0px !important;
    margin-left: 30px !important;
  }

  .product-content-color {
    position: relative;
    margin-left: 50px !important;
    margin-top: 0px !important;
  }

  .product-content-unit-price {
    margin-left: 30px !important;
    margin-top: 0px !important;
  }

  .product-content-price {
    margin-top: 15px !important;
    margin-left: 70% !important;
  }

  .product-delete {
    display: block !important;
    margin-top: 15px !important;
    margin-left: -20px !important;
  }
}
@media screen and (min-width: 1501px) and (max-width: 1875px) {
  .product-content-unit-price {
    margin-top: -20px !important;
  }

  .product-content-color {
    margin-top: -20px !important;
  }

  .product-widget-delete {
    margin-top: 80px;
    margin-left: 89%;
  }

  .product-widget-quantity {
    margin-top: -5px !important;
  }
}
@media screen and (min-width: 2261px) and (max-width: 2500px) {
  .product-content-unit-price {
    margin-top: -20px !important;
  }

  .product-content-color {
    margin-top: -20px !important;
  }

  .product-widget-delete {
    margin-top: 80px;
    margin-left: 89%;
  }

  .product-widget-quantity {
    margin-top: -5px !important;
  }

  .product-content-desc {
    display: block !important;
    margin-top: 0px !important;
    margin-left: 100px !important;
  }

  .product-content-color {
    position: relative;
    margin-left: 100px !important;
    margin-top: 0px !important;
  }

  .product-content-unit-price {
    margin-left: 50px !important;
    margin-top: 0px !important;
  }

  .product-content-price {
    margin-left: 80% !important;
  }

  .product-delete {
    margin-top: -65px !important;
    margin-left: 95px !important;
  }

  form.quantity-form label {
    display: block;
    margin-top: -14px !important;
    margin-left: 20.5% !important;
    max-width: 250px;
  }
}
@media screen and (min-width: 2000px) and (max-width: 3000px) {
  .product-delete {
    display: block !important;
    margin-top: 4px !important;
    margin-left: -25px !important;
  }

  form.quantity-form label {
    display: block;
    margin-top: -14px !important;
    margin-left: 20.5% !important;
    max-width: 250px;
  }
}
@media screen and (min-width: 2500px) and (max-width: 2669px) {
  .products-card {
    padding-left: 150px !important;
    padding-right: 150px !important;
  }

  .card-container {
    margin-top: 20px !important;
    margin-bottom: 50px !important;
  }

  form.quantity-form input {
    margin-top: 40px;
    max-width: 250px;
  }

  form.quantity-form label {
    margin-top: -19px;
    margin-left: 90px;
    max-width: 250px;
  }

  label.product-content-list-option-title {
    margin-left: 22%;
  }

  form.options-form select {
    max-width: 250px;
  }

  .product-price {
    margin-top: 15px;
    margin-left: 90px !important;
  }

  .product-content-list-title {
    margin-left: 100px !important;
  }

  .cart-product-list-content {
    margin-top: 0px !important;
    margin-left: -40px !important;
    height: 150px !important;
  }

  .product-content-desc {
    margin-top: 0px !important;
    margin-left: 100px !important;
  }

  .product-content-color {
    position: relative;
    margin-left: 100px !important;
    margin-top: 0px !important;
  }

  .product-content-unit-price {
    margin-left: 50px !important;
    margin-top: 0px !important;
  }

  .product-content-price {
    margin-left: 85% !important;
  }

  .product-delete {
    margin-top: -65px !important;
    margin-left: 95px !important;
  }
}
@media screen and (min-width: 2670px) and (max-width: 7700px) {
  .footer-social-container {
    margin-top: -75px !important;
  }

  .footer-social-icon {
    margin: 40px !important;
  }

  .product-items-list-container {
    min-height: 750px !important;
  }

  .product-description {
    margin-top: -60px !important;
  }

  .form-container {
    margin-top: 40px !important;
  }

  .confirm-infos-container {
    margin-bottom: -100px !important;
  }

  button.confirm-button {
    margin-top: -90px !important;
    margin-bottom: -150px !important;
  }

  .products-card:last-child {
    margin-bottom: 20px !important;
  }

  .products-card {
    padding-left: 200px !important;
    padding-right: 200px !important;
  }

  .card-container {
    margin-top: 20px !important;
    margin-bottom: 60px !important;
  }

  .product-content-desc {
    margin-top: 50px !important;
    margin-left: 50px !important;
  }

  .product-content-color {
    z-index: 2 !important;
    margin-left: 10% !important;
    margin-top: 0px !important;
  }

  .product-content-unit-price {
    margin-left: 15% !important;
  }

  .product-content-price {
    margin-left: 85% !important;
  }

  .product-delete {
    margin-top: -65px !important;
    margin-left: 0px !important;
  }

  .product-widget-quantity {
    margin-left: 70% !important;
  }

  form.quantity-form label {
    display: block;
    margin-top: -14px !important;
    margin-left: 20.5% !important;
    max-width: 250px;
  }
}
/* ===================================================================================================== */
/* 09. Responsive - Smartphones                                                                          */
/* ===================================================================================================== */
/* Screens 415px/375px or less: iphone 6/7/8 iOS 11 Safari 11, iphone X/XS iOS 12 Safari 12, Galaxy S9/S9+ android 7.0 and others */
@media screen and (max-width: 425px) {
  header {
    justify-content: center !important;
    height: 65px;
    top: 0;
  }

  .logo {
    flex-basis: 100% !important;
    justify-content: space-around !important;
    width: 170px;
    height: 65px;
  }

  nav img {
    margin-top: 5px !important;
    margin-left: -20px !important;
  }

  nav a {
    max-height: 65px;
  }

  .cart {
    margin-top: -10px !important;
  }

  .cart i.fas {
    margin-top: -5px !important;
  }

  h2.card-title {
    margin: 20px !important;
    margin-top: 60px !important;
    margin-left: 20px !important;
  }

  #products {
    padding-bottom: 20px !important;
  }

  .products-card {
    margin-right: 40px !important;
    margin-top: 10px !important;
  }

  .products-card:last-child {
    margin-bottom: 20px !important;
  }

  .footer-container {
    flex-basis: 100% !important;
    flex-wrap: wrap !important;
    height: auto !important;
  }

  .footer-social-container {
    margin-top: -150px !important;
  }

  .footer-social-icon {
    margin: 20px;
  }

  .footer-links-container {
    flex-basis: 100% !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
    margin-left: 20px !important;
    margin-top: 50px !important;
  }

  h1.center-title,
p.center-text {
    display: flex;
    text-align: center;
  }

  h2.footer-title {
    margin-top: -25px !important;
  }

  .product-infos-container {
    height: auto !important;
  }

  .product-image-container {
    max-height: 350px !important;
    max-width: 415px !important;
  }

  .product-img_image {
    left: -10% !important;
  }

  .product-img img {
    width: 280px !important;
    height: 320px !important;
  }

  .custom-select {
    margin: 0px !important;
    margin-bottom: 20px !important;
    margin-top: 10px !important;
  }

  .product-description button {
    margin: 0px !important;
    margin-bottom: 100px !important;
    margin-top: 10px !important;
  }

  .product-description ul.color-picker-bg {
    margin-left: auto;
    margin-right: auto;
  }

  .product-color-list {
    margin-left: -25px !important;
    margin-right: 13px !important;
  }

  .cart-product-list-container {
    flex-direction: column !important;
    flex-wrap: wrap !important;
    background: var(--grey-color-piker-bg);
    height: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 10px;
    width: auto;
    max-width: 95%;
  }

  .product-content-desc,
.cart-product-list-content {
    flex-direction: column !important;
    flex-wrap: wrap !important;
    margin-top: 5px !important;
    margin-bottom: 15px !important;
  }

  .product-list-img {
    align-content: space-between !important;
    margin-right: auto !important;
    margin-left: auto !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0px !important;
    margin-top: 10px !important;
    overflow: hidden !important;
    text-decoration: none;
  }

  .confirm-infos-container {
    height: 900px !important;
  }

  img.product-list-zoom {
    height: 100% !important;
  }

  .cart-product-list-content {
    margin-top: 10px !important;
    margin-left: 0%;
    padding-bottom: 9px;
  }

  .product-card-total-container {
    margin-left: 27%;
    margin-right: 20px;
    margin-top: -20px;
    padding: 15px;
    height: auto;
    width: auto;
    min-width: 200px;
    max-width: 250px;
  }

  .product-content-unit-price {
    margin-left: 20px !important;
  }

  .product-widget-quantity {
    margin-left: 65%;
    margin-top: -2%;
  }

  .product-content-price {
    margin-left: 65%;
    margin-top: 4% !important;
  }

  .product-widget-delete {
    margin-right: 15px !important;
    margin-top: 50% !important;
    margin-left: 80%;
  }

  .product-content-color {
    padding-bottom: 5px;
  }

  button {
    margin-top: -5px;
    margin-bottom: 25px;
    margin-left: 14%;
  }

  form#orderForm {
    margin-left: 6%;
  }

  form#orderForm label {
    width: 85px;
    padding-top: 2em;
    left: 3em;
    margin-top: -1.25em;
  }

  form#orderForm input {
    padding: 0.6em 1.4em 0.5em 7em;
  }

  .form-container {
    min-width: 380px !important;
  }

  .confirm-infos-container {
    margin-top: -4%;
  }

  .confirm-content-container {
    padding: 5px;
  }

  button.confirm-button {
    margin-left: 11%;
  }

  p.center-text {
    padding: 20px;
  }

  .product-price {
    margin-left: 10px;
  }

  .product-items-list-container {
    margin-top: -10px;
  }

  .product-widget-delete {
    margin-top: 54.3% !important;
    margin-left: 85%;
  }

  .card-content_desc {
    font-size: 0.8em !important;
  }

  form.quantity-form label {
    margin-left: 3px !important;
    margin-top: -14px;
  }

  .product-delete {
    margin-top: -19px;
  }
}
@media screen and (max-width: 375px) {
  .products-card {
    margin-left: 20px !important;
  }

  button,
form#orderForm {
    margin-top: -5px;
    margin-bottom: 25px;
    margin-left: 8.5%;
  }

  form#orderForm input {
    margin-bottom: 2.6em;
  }

  .form-invalid-icon-container {
    margin-top: -20px;
  }

  .form-container {
    min-width: 350px !important;
  }

  .product-widget-delete {
    margin-top: 63.2% !important;
    margin-left: 85% !important;
  }

  button.confirm-button {
    margin-left: 9%;
    margin-top: 3%;
  }

  form.options-form,
form.quantity-form {
    margin-left: 0% !important;
  }

  button.add-to-cart {
    margin-bottom: 12% !important;
  }

  p.center-text {
    padding: 0px 20px 20px 20px !important;
  }

  form.quantity-form input {
    margin-left: 0px !important;
  }

  form.quantity-form label {
    margin-left: 3px !important;
    margin-top: -14px;
  }
}
@media screen and (max-width: 320px) {
  button.confirm-button {
    margin-top: 20px;
    margin-left: 0%;
  }

  .confirm-infos-container {
    margin-top: 50px !important;
    margin-bottom: 80px !important;
  }

  .products-container,
.card-container,
.products-card,
.products-card-img,
.products-img_hover,
.products-img_image,
.products-zoom-adjustment,
.products-img_name,
.products-card-content,
.card-content_title {
    max-width: 300px !important;
    min-width: 300px !important;
    width: 300px !important;
  }

  .products-card-content,
.products-card-img {
    max-width: 295px !important;
    min-width: 295px !important;
    width: 295px !important;
  }

  .products-card-img {
    width: 250px !important;
  }

  .products-img_alert-new {
    margin-left: 67% !important;
    margin-top: -97% !important;
  }

  .products-card {
    margin-left: 10px !important;
  }

  .card-content_price {
    margin-left: 72% !important;
  }

  .card-content_icon {
    margin-left: 85% !important;
  }

  .product-img {
    max-width: 295px !important;
    min-width: 295px !important;
    width: 295px !important;
    margin-left: -1px !important;
    margin-top: -30px !important;
  }

  .product-image-container {
    margin-top: -15px !important;
  }

  form.options-form,
form.quantity-form {
    margin-left: 0% !important;
  }

  .product-widget-delete {
    margin-top: 73% !important;
    margin-left: 77% !important;
  }

  .product-widget-quantity {
    margin-top: -4%;
    margin-left: 62%;
  }

  .product-content-price {
    margin-top: 5.5% !important;
    margin-left: 60%;
  }

  .product-content-color {
    margin-top: -5% !important;
    margin-bottom: 2% !important;
  }

  .product-content-unit-price {
    margin-bottom: 2% !important;
  }

  h3.product-content-title {
    margin-bottom: -10px !important;
  }

  .product-card-total-container {
    margin-left: 22%;
  }

  .product-items-list-container {
    margin-top: -2% !important;
  }

  nav img {
    padding-left: 10px !important;
  }

  .form-desc {
    margin-top: 15px !important;
  }

  form#orderForm {
    margin-top: -5px;
    margin-bottom: 25px;
    margin-left: -5%;
  }

  form#orderForm input {
    margin-bottom: 3.5em !important;
  }

  .form-invalid-icon-container {
    margin-top: -20px;
  }

  .form-container {
    min-width: 310px !important;
  }

  form#orderForm label {
    width: 85px;
    padding-top: 1.9em;
    left: 0.5em;
    margin-top: -1.25em;
  }

  form#orderForm input {
    padding: 0.6em 1.4em 0.5em 6em;
  }

  form.quantity-form label {
    margin-left: 3px !important;
    margin-top: -14px;
  }

  .form-invalid-icon-container {
    margin-top: -24% !important;
    margin-left: 92% !important;
  }

  .form-icon-container {
    margin-top: -19% !important;
    margin-left: 90% !important;
  }

  .error-message {
    margin-top: -16% !important;
    margin-bottom: 5% !important;
  }

  .footer-text-container,
.footer-social-container,
.footer-links-container {
    margin-left: -15px !important;
  }

  p.center-text {
    margin-top: -20px !important;
  }

  p.center-text,
.product-content-desc {
    padding: 20px !important;
  }

  label.product-content-list-option-title {
    margin-left: 0% !important;
  }
}
@media screen and (min-width: 415px) and (max-width: 425px) {
  button.confirm-button {
    margin-top: 20px;
    margin-left: 14% !important;
  }

  .footer-social-container {
    padding-top: 45% !important;
    padding-bottom: 0% !important;
  }

  form.quantity-form input {
    margin-left: -8% !important;
  }

  form.quantity-form label {
    margin-left: -25px !important;
  }

  label.product-content-list-option-title {
    margin-left: -8% !important;
  }

  form.options-form select.custom-select {
    margin-left: -8% !important;
  }

  .product-forms-container {
    margin-left: 12% !important;
  }
}
/* ===================================================================================================== */
/* 10. Responsive - Tablets                                                                              */
/* ===================================================================================================== */
@media screen and (min-width: 426px) and (max-width: 768px) {
  h2.card-title {
    margin-top: 10px !important;
    margin-left: 35px !important;
  }

  h2.footer-title {
    margin-top: -15px !important;
  }

  h2.footer-title.footer-title-social {
    margin-top: 8px !important;
  }

  .footer-container {
    flex-basis: 100% !important;
    flex-wrap: wrap !important;
  }

  .footer-social-container {
    margin-top: -150px !important;
  }

  .footer-social-icon {
    margin-top: 50px !important;
    margin-right: 10px !important;
    margin-left: 15px !important;
  }

  .product-img_image {
    left: -10% !important;
  }

  .product-img img {
    width: 680px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  img.product-zoom {
    width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    overflow: hidden;
    border-radius: 10px;
  }

  .cart-product-list-container {
    flex-direction: column !important;
    flex-wrap: wrap !important;
    background: var(--grey-color-piker-bg);
    height: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 10px;
    width: auto;
    max-width: 95%;
  }

  .product-content-desc,
.cart-product-list-content {
    flex-direction: column !important;
    flex-wrap: wrap !important;
    margin-top: 5px !important;
    margin-bottom: 15px !important;
  }

  .product-list-img {
    justify-content: flex-start !important;
    align-content: space-between !important;
    margin-right: auto !important;
    margin-left: 140% !important;
    width: 350px !important;
    height: auto !important;
    margin-top: 15px !important;
    overflow: hidden !important;
    text-decoration: none;
  }

  .confirm-infos-container {
    height: 800px !important;
  }

  .products-card:last-child {
    margin-bottom: 20px !important;
    margin-right: 30px !important;
  }

  .products-card {
    margin-left: 20px !important;
    margin-top: 15px !important;
  }

  .card-container {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  img.product-list-zoom {
    z-index: 1;
    height: 100% !important;
    min-width: auto;
    min-height: 150px;
  }

  .cart-product-list-content {
    margin-top: 10px !important;
    margin-left: -80px !important;
    padding-bottom: 40px;
  }

  .product-card-total-container {
    margin-left: 51%;
    margin-right: 20px;
    margin-top: -20px;
    padding: 15px;
    height: auto;
    width: auto;
    min-width: 200px;
    max-width: 250px;
  }

  .product-content-unit-price {
    margin-left: 20px !important;
  }

  .product-widget-quantity {
    margin-left: 70%;
    margin-top: -1%;
  }

  .product-content-price {
    margin-left: 85%;
    margin-top: 3% !important;
  }

  .product-widget-delete {
    margin-right: 15px !important;
    margin-top: 38%;
    margin-left: 95%;
  }

  .product-content-color {
    margin-top: -10px;
    padding-bottom: 5px;
  }

  form#orderForm {
    margin-left: 6%;
  }

  form#orderForm label {
    width: 85px;
    padding-top: 2em;
    left: 3.5em;
    margin-top: -1.25em;
  }

  form#orderForm input {
    padding: 0.6em 1.4em 0.5em 7em;
  }

  .form-container {
    min-width: 380px !important;
  }

  button.confirm-button {
    margin-left: 31%;
  }

  .product-image-container {
    height: 550px !important;
  }

  .product-zoom {
    margin-top: 5px;
    height: 500px !important;
  }

  button.confirm-button {
    margin-top: 20px;
  }

  form.quantity-form label {
    margin-left: 3px !important;
    margin-top: -14px;
  }
}
@media screen and (min-width: 425px) and (max-width: 639px) {
  .product-widget-delete {
    margin-top: 195px !important;
    margin-left: 85% !important;
  }

  .product-widget-quantity {
    margin-top: -2% !important;
    margin-left: 65% !important;
  }

  .product-content-price {
    margin-top: 20px !important;
    margin-left: 70% !important;
  }

  .product-content-color {
    margin-top: -5% !important;
    margin-top: 20px !important;
  }

  .product-content-unit-price {
    margin-top: 20px !important;
  }

  .cart-product-list-content {
    margin-top: 10px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-bottom: 40px;
  }

  .product-list-img {
    margin-right: auto !important;
    margin-left: auto !important;
    margin-top: 15px !important;
  }

  .product-content-desc {
    margin-top: 30px !important;
  }

  .product-content-list-title {
    margin-top: 20px !important;
  }
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  .product-list-img {
    width: 250px !important;
    min-height: 350px !important;
    padding-top: 5% !important;
  }

  .cart-product-list-content {
    padding-top: 42%;
    margin-left: -35%;
    min-width: 500px;
  }

  .product-description {
    margin-top: 15px !important;
  }

  button.add-to-cart {
    margin-top: 40px !important;
    margin-bottom: 5px !important;
    margin-left: 30% !important;
  }

  .product-delete {
    display: block !important;
    margin-top: 5px !important;
    margin-left: 80px !important;
  }

  .product-list-img {
    padding-bottom: 50px !important;
  }

  .product-content-list-title,
.product-content-price {
    margin-top: 40px !important;
  }

  .product-delete {
    display: block !important;
    margin-top: 25px !important;
    margin-left: 25px !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 852px) {
  .products-card:last-child {
    margin-bottom: 20px !important;
    margin-right: 30px !important;
  }

  .products-card {
    margin-left: 20px !important;
    margin-top: 15px !important;
  }

  .card-container {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  img.product-list-zoom {
    z-index: 1;
    height: 100% !important;
    min-width: auto;
    min-height: 150px;
  }

  .cart-product-list-content {
    margin-top: 1.95px !important;
    margin-left: 40px !important;
    padding-bottom: 9px;
  }

  .cart-product-list-container {
    max-width: 90%;
  }

  .product-cart-list {
    margin-left: 6% !important;
  }

  .product-card-total-container {
    margin-left: 62%;
    margin-right: 20px;
    margin-top: -20px;
    padding: 15px;
    height: auto;
    width: auto;
    min-width: 200px;
    max-width: 250px;
  }

  .product-content-desc {
    padding-top: 0px;
    padding-bottom: 5px;
  }

  .product-content-unit-price {
    margin-left: 15px !important;
    margin-top: -2.55%;
  }

  .product-widget-quantity {
    margin-left: 79%;
    margin-top: -2.55%;
  }

  .product-content-price {
    margin-left: 69%;
    margin-top: 3% !important;
  }

  .product-widget-delete {
    margin-right: 15px !important;
    margin-top: 18%;
    margin-left: 87%;
  }

  .product-content-color {
    margin-top: -10px;
    padding-bottom: 5px;
  }

  button {
    margin-top: -5px;
    margin-bottom: 25px;
    margin-left: 38%;
  }

  form {
    margin-left: 6%;
  }

  form label {
    width: 85px;
    padding-top: 2em;
    left: 3.5em;
    margin-top: -1.25em;
  }

  form input {
    padding: 0.6em 1.4em 0.5em 7em;
  }

  .form-container {
    min-width: 380px !important;
  }
}
@media screen and (min-width: 815px) and (max-width: 852px) {
  .product-widget-delete {
    margin-left: 87.5%;
  }
}
/* ===================================================================================================== */
/* 11. Responsive - Laptops                                                                              */
/* ===================================================================================================== */
/* Laptops Screens between 800px and 1440px */
@media screen and (min-width: 800px) and (max-width: 1440px) {
  h2.card-title {
    margin-top: 10px !important;
    margin-left: 35px !important;
  }

  h2.footer-title {
    margin-top: -10px !important;
  }

  #products {
    margin-top: 0px !important;
  }

  .footer-social-container {
    margin-top: -75px !important;
  }

  .footer-social-icon {
    margin-top: 50px !important;
    margin-right: 10px !important;
    margin-left: 25px !important;
  }

  .product-img_image {
    left: -10% !important;
  }

  .product-img img {
    width: 680px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  img.product-zoom {
    width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    overflow: hidden;
    border-radius: 10px;
  }

  .cart-product-list-content {
    margin-left: 14%;
  }

  .confirm-infos-container {
    height: auto !important;
  }

  .products-card:last-child {
    margin-bottom: 20px !important;
  }

  .products-card {
    margin-top: 15px !important;
  }

  .card-container {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  button.confirm-button {
    margin-top: 40px;
  }

  .confirm-infos-container {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }

  form#orderForm {
    margin-left: 6%;
    margin-top: 15%;
  }

  form#orderForm label {
    width: 85px;
    padding-top: 2em;
    left: 3.5em;
    margin-top: -1.25em;
  }

  form#orderForm input {
    padding: 0.6em 1.4em 0.5em 7em;
  }

  .form-container {
    min-width: 380px !important;
  }

  button.confirm-button {
    margin-left: 31%;
  }

  .product-image-container {
    height: 550px !important;
  }

  .product-zoom {
    margin-top: 5px;
    height: 500px !important;
  }

  .product-description {
    margin-top: -5% !important;
  }

  button.add-to-cart {
    margin-top: 50px !important;
    margin-bottom: 5px !important;
    margin-left: 33.33% !important;
  }

  .product-forms-container {
    margin-left: 12% !important;
  }

  .product-price {
    margin-top: 15px;
    margin-left: 5px;
  }

  button.add-to-cart {
    margin-left: 35% !important;
  }

  form.quantity-form label {
    margin-top: -14px !important;
    margin-left: 60px !important;
  }

  .product-forms-container {
    margin-left: 0% !important;
  }

  .product-price {
    margin-top: 15px;
    margin-left: 20%;
  }

  label.product-content-list-option-title {
    margin-left: 50px;
  }

  .product-delete {
    margin-top: -19px;
  }
}
@media screen and (min-width: 1170px) and (max-width: 1500px) {
  .cart-product-list-container {
    max-width: 100%;
    margin-left: -5px;
  }

  .cart-product-list-content {
    margin-left: 17%;
    height: 148px;
  }

  .product-content-unit-price {
    position: absolute;
    margin-left: 43% !important;
    margin-top: 25% !important;
  }

  .product-delete {
    margin-top: -12px !important;
  }

  .product-widget-quantity {
    z-index: 2;
    position: absolute;
    margin-left: 150px;
    margin-top: 8%;
  }

  .product-content-price {
    position: absolute;
    margin-left: 62%;
    margin-top: 4% !important;
  }

  .product-widget-delete {
    position: absolute;
    margin-right: 15px !important;
    margin-top: 33.5%;
    margin-left: 72%;
  }

  .product-content-color {
    position: absolute;
  }

  .product-content-desc {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .product-card-total-container {
    max-width: 370px;
    margin-left: 60%;
  }

  .product-description {
    margin-top: 3% !important;
  }

  label.product-content-list-option-title {
    margin-left: 10px;
  }

  form.quantity-form label {
    margin-left: 5px !important;
  }

  button.add-to-cart {
    margin-left: 10% !important;
  }
}
@media screen and (min-width: 1171px) and (max-width: 1300px) {
  .product-content-unit-price {
    margin-top: 125px !important;
  }

  .product-content-color {
    margin-top: 125px !important;
  }

  .product-widget-delete {
    margin-top: 130px;
    margin-left: 72.5%;
  }

  .product-widget-quantity {
    margin-top: 30px !important;
  }

  .product-content-desc {
    font-size: 0.9em !important;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1500px) {
  .product-content-unit-price {
    margin-top: 24%;
  }

  .product-widget-delete {
    margin-top: 26.5%;
  }

  .product-widget-quantity {
    margin-top: 6.1%;
    margin-left: 35%;
  }

  .product-content-price {
    margin-top: 3% !important;
  }

  .product-content-desc {
    margin-top: -4% !important;
  }

  .product-delete {
    margin-top: -15px !important;
  }

  .product-content-color,
.product-content-unit-price {
    margin-top: 23.5% !important;
  }

  .form-desc {
    padding-top: 20px !important;
    padding-bottom: 0px !important;
  }

  .product-list-img {
    margin-left: 0px !important;
  }

  .product-content-title {
    padding-bottom: 20px;
  }

  .product-content-title {
    margin-top: 10px !important;
  }

  form.quantity-form label {
    margin-top: -14px !important;
    margin-left: 0px !important;
  }

  .product-price {
    margin-left: -1px;
  }

  .product-content-title {
    margin-top: 20px !important;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1350px) {
  .product-content-unit-price {
    margin-top: 125px !important;
  }

  .product-content-color {
    margin-top: 125px !important;
  }

  .product-widget-delete {
    margin-top: 135px;
    margin-left: 72.5%;
  }

  .product-widget-quantity {
    margin-top: 30px !important;
  }
}
@media screen and (min-width: 1450px) and (max-width: 1500px) {
  .product-content-unit-price {
    margin-top: 120px !important;
  }

  .product-content-color {
    margin-top: 120px !important;
  }

  .product-widget-delete {
    margin-top: 127px;
  }

  .product-widget-quantity {
    margin-top: 6%;
  }
}

/*# sourceMappingURL=style.css.map */
