@font-face {
	font-family: 'Roboto';
	src: url('../../frontend/fonts/Roboto-Regular.ttf');
	src: url('../../frontend/fonts/Roboto.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'Roboto';
	src: url('../../frontend/fonts/Roboto-Bold.ttf');
	font-weight: bold;
	font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'RobotoBoldItalic';
	src: url('../../frontend/fonts/Roboto-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
    font-display: swap;
}
/*@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('../../frontend/fonts/Roboto-Italic.woff2') format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../../frontend/fonts/Roboto.woff2') format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../../frontend/fonts/Roboto.woff2') format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');