/* ===================================================================================================== */
/* 08. Responsive - Desktop and xxl screens                                                              */
/* ===================================================================================================== */

@media screen and (min-width: 1441px)  and (max-width: 7700px) {
    h2.footer-title {
        margin-top: -15px!important;
    }
    .footer-social-container {
        margin-top: -75px!important;
    }
    .footer-social-icon {
        margin: 40px!important;
    }
    .product-items-list-container {
        min-height: auto!important;
    }
    .product-description {
        margin-top: -3%!important;
    }
    .form-container {
        margin-top: 5px!important;
    }
    .confirm-infos-container {
        margin-bottom: -100px!important;
    }
    button.confirm-button {
        margin-top: -90px!important;
        margin-bottom: -150px!important;
    }
    .products-card:last-child {
        margin-bottom: 20px!important;
    }
    .products-card {
        padding-left: 20px!important;
        padding-right: 20px!important;
    }
    .card-container {
        margin-top: 20px!important;
        margin-bottom: 30px!important;
    }
    form.quantity-form input {
        margin-top: 40px;
        max-width: 250px;
    }
    form.quantity-form label {
        margin-top: -19px;
        margin-left: 10px;
        max-width: 250px;
    } 
    label.product-content-list-option-title  {
        margin-left: 22%;
    }
    form.options-form select {
        max-width: 250px;
    }
    .product-price {
        margin-top: 15px;
        margin-left: 20px!important;
    }
    form.quantity-form label {
        margin-left: 15px!important;
    }
}

@media screen and (min-width: 1501px) and (max-width: 7700px) {
    .cart-product-list-content {
        margin-left: 3%;
    }
    .product-card-total-container {
        margin-left: 67%;
    }
    .product-content-unit-price {
        margin-left: 70px!important;
    }
    .product-widget-quantity {
        margin-left: 75%;
        margin-top: -6px;
    }
    .product-content-price {
        margin-left: 75%;
        margin-top: 2%!important;
    }
    .product-widget-delete {
        margin-left: 88%;
        margin-top: 15%;
    }
    .product-content-desc{
        max-width: 600px;
    }
    form.quantity-form input {
        margin-top: 40px;
        max-width: 250px;
    }
    form.quantity-form label {
        display: block;
        margin-top: -14px!important;
        margin-left: 15px!important;
        max-width: 250px;
    } 
    label.product-content-list-option-title  {
        margin-left: 22%;
    }
    form.options-form select {
        max-width: 250px;
    }
    .product-price {
        margin-top: 15px;
        margin-left: 45px!important;
    }
    .product-delete {
        display: block!important;
        margin-top:  0px;
        margin-left: -10px;
    }
    .product-delete {
        margin-top:  -20px;
    }
    .product-content-list-title {
        margin-left: 30px!important;
    }
    .cart-product-list-content{
        margin-top: 0px!important;
        margin-left: 35px!important;
        width: 95%!important;
        height: 150px!important;
    }
    .product-content-desc {
        margin-top: 0px!important;
        margin-left: 30px!important;
    }
    .product-content-color {
        position: relative;
        margin-left: 50px!important;
        margin-top: 0px!important;
    }
    .product-content-unit-price {
        margin-left: 30px!important;
        margin-top: 0px!important;
    }
    .product-content-price {
        margin-top: 15px!important;
        margin-left: 70%!important;
    }
    .product-delete {
        display: block!important;
        margin-top: 15px!important;
        margin-left: -20px!important;
    }
}

@media screen and (min-width: 1501px) and (max-width: 1875px) {
    .product-content-unit-price {
        margin-top: -20px!important;
    }
    .product-content-color {
        margin-top:  -20px!important;
    }
    .product-widget-delete {
        margin-top: 80px;
        margin-left: 89%;
    }
    .product-widget-quantity {
        margin-top: -5px!important;
    }
}

@media screen and (min-width: 2261px) and (max-width: 2500px){
    .product-content-unit-price {
        margin-top: -20px!important;
    }
    .product-content-color {
        margin-top:  -20px!important;
    }
    .product-widget-delete {
        margin-top: 80px;
        margin-left: 89%;
    }
    .product-widget-quantity {
        margin-top: -5px!important;
    }
    .product-content-desc {
        display: block!important;
        margin-top: 0px!important;
        margin-left: 100px!important;
    }
    .product-content-color {
        position: relative;
        margin-left: 100px!important;
        margin-top: 0px!important;
    }
    .product-content-unit-price {
        margin-left: 50px!important;
        margin-top: 0px!important;
    }
    .product-content-price {
        margin-left: 80%!important;
    }
    .product-delete {
        margin-top: -65px!important;
        margin-left: 95px!important;
    }
    form.quantity-form label {
        display: block;
        margin-top: -14px!important;
        margin-left: 20.5%!important;
        max-width: 250px;
    }
}


@media screen and (min-width: 2000px) and (max-width: 3000px){
    .product-delete {
        display: block !important;
        margin-top: 4px !important;
        margin-left: -25px !important;
    }
    form.quantity-form label {
        display: block;
        margin-top: -14px!important;
        margin-left: 20.5%!important;
        max-width: 250px;
    } 
}

@media screen and (min-width: 2500px)  and (max-width: 2669px) {
    .products-card {
        padding-left: 150px!important;
        padding-right: 150px!important;
    }
    .card-container {
        margin-top: 20px!important;
        margin-bottom: 50px!important;
    }
    form.quantity-form input {
        margin-top: 40px;
        max-width: 250px;
    }
    form.quantity-form label {
        margin-top: -19px;
        margin-left: 90px;
        max-width: 250px;
    } 
    label.product-content-list-option-title  {
        margin-left: 22%;
    }
    form.options-form select {
        max-width: 250px;
    }
    .product-price {
        margin-top: 15px;
        margin-left: 90px!important;
    }
    .product-content-list-title {
        margin-left: 100px!important;
    }
    .cart-product-list-content{
        margin-top: 0px!important;
        margin-left: -40px!important;
        height: 150px!important;
    }
    .product-content-desc {
        margin-top: 0px!important;
        margin-left: 100px!important;
    }
    .product-content-color {
        position: relative;
        margin-left: 100px!important;
        margin-top: 0px!important;
    }
    .product-content-unit-price {
        margin-left: 50px!important;
        margin-top: 0px!important;
    }
    .product-content-price {
        margin-left: 85%!important;
    }
    .product-delete {
        margin-top: -65px!important;
        margin-left: 95px!important;
    }
}
@media screen and (min-width: 2670px)  and (max-width: 7700px) {
    .footer-social-container {
        margin-top: -75px!important;
    }
    .footer-social-icon {
        margin: 40px!important;
    }
    .product-items-list-container {
        min-height: 750px!important;
    }
    .product-description {
        margin-top: -60px!important;
    }
    .form-container {
        margin-top: 40px!important;
    }
    .confirm-infos-container {
        margin-bottom: -100px!important;
    }
    button.confirm-button {
        margin-top: -90px!important;
        margin-bottom: -150px!important;
    }
    .products-card:last-child {
        margin-bottom: 20px!important;
    }
    .products-card {
        padding-left: 200px!important;
        padding-right: 200px!important;
    }
    .card-container {
        margin-top: 20px!important;
        margin-bottom: 60px!important;
    }
    .product-content-desc {
        margin-top: 50px!important;
        margin-left: 50px!important;
    }
    .product-content-color {
        z-index: 2!important;
        margin-left: 10%!important;
        margin-top: 0px!important;
    }
    .product-content-unit-price {
        margin-left: 15%!important;
    }
    .product-content-price {
        margin-left: 85%!important;
    }
    .product-delete {
        margin-top: -65px!important;
        margin-left: 0px!important;
    }
    .product-widget-quantity {
        margin-left: 70%!important;
    }
    form.quantity-form label {
        display: block;
        margin-top: -14px!important;
        margin-left: 20.5%!important;
        max-width: 250px;
    } 
}

/* ===================================================================================================== */
/* 09. Responsive - Smartphones                                                                          */
/* ===================================================================================================== */

/* Screens 415px/375px or less: iphone 6/7/8 iOS 11 Safari 11, iphone X/XS iOS 12 Safari 12, Galaxy S9/S9+ android 7.0 and others */

@media screen and (max-width: 425px) {
    header {
        justify-content: center!important;
        height: 65px;
        top: 0;
    }

    .logo {
        flex-basis: 100%!important;
        justify-content: space-around!important;
        width: 170px;
        height: 65px;
    }
    nav img {
        margin-top: 5px!important;
        margin-left: -20px!important;
    }
    nav a {
        max-height: 65px;
    }
    .cart {
        margin-top: -10px!important;
    }
    .cart i.fas {
        margin-top: -5px!important;      
    }
    h2.card-title {
        margin: 20px!important;
        margin-top: 60px!important;
        margin-left: 20px!important;
    }
    #products {
        padding-bottom: 20px!important;
    }
    .products-card {
        margin-right: 40px!important;
        margin-top: 10px!important;
    }
    .products-card:last-child {
        margin-bottom: 20px!important;
    }
    .footer-container {
        flex-basis: 100%!important;
        flex-wrap: wrap!important;
        height: auto!important;
    }
    .footer-social-container {
        margin-top: -150px!important;
    }
    .footer-social-icon {
        margin: 20px;
    }
    .footer-links-container {
        flex-basis: 100%!important;
        flex-direction: column!important;
        flex-wrap: wrap!important;
        margin-left: 20px!important;
        margin-top: 50px!important;
    }
    h1.center-title,
    p.center-text {
        display: flex;
        text-align: center;
    }
    h2.footer-title {
        margin-top: -25px!important;
    }
    .product-infos-container {
        height: auto!important;
    }
    .product-image-container {
        max-height: 350px!important;
        max-width: 415px!important;
    }
    .product-img_image {
        left: -10%!important;
    }
    .product-img img {
        width: 280px!important;
        height: 320px!important;
    }
    .custom-select {
        margin: 0px!important;
        margin-bottom: 20px!important;
        margin-top: 10px!important;
    }
    .product-description button {
        margin: 0px!important;
        margin-bottom: 100px!important;
        margin-top: 10px!important;
    }
    .product-description ul.color-picker-bg {
        margin-left: auto;
        margin-right: auto;
    }
    .product-color-list {
        margin-left: -25px!important;
        margin-right: 13px!important;
    }
    .cart-product-list-container {
        flex-direction: column!important;
        flex-wrap: wrap!important;
        background: var(--grey-color-piker-bg);
        height: auto!important;
        margin-left: auto!important;
        margin-right: auto!important;
        border-radius: 10px;
        width: auto;
        max-width: 95%;
    }
    .product-content-desc,
    .cart-product-list-content {
        flex-direction: column!important;
        flex-wrap: wrap!important;
        margin-top: 5px!important;
        margin-bottom: 15px!important;
    }
    .product-list-img {
        align-content: space-between!important;
        margin-right: auto!important;
        margin-left: auto!important;
        width: 100%!important;
        height: 100%!important;
        margin: 0px!important;
        margin-top: 10px!important;
        overflow: hidden!important;
        text-decoration: none;
    }
    .confirm-infos-container {
        height: 900px!important;
    }
    img.product-list-zoom {
        height: 100%!important;
    }
    .cart-product-list-content {
        margin-top: 10px!important;
        margin-left: 0%;
        padding-bottom: 9px;
    }
    .product-card-total-container {
        margin-left: 27%;
        margin-right: 20px;
        margin-top: -20px;
        padding: 15px;
        height: auto;
        width: auto;
        min-width: 200px;
        max-width: 250px;
    }
    .product-content-unit-price {
        margin-left: 20px!important;
    }
    .product-widget-quantity {
        margin-left: 65%;
        margin-top: -2%;
    }
    .product-content-price {
        margin-left: 65%;
        margin-top: 4%!important;
    }
    .product-widget-delete {
        margin-right: 15px!important;
        margin-top: 50%!important;
        margin-left: 80%;
    }
    .product-content-color {
        padding-bottom: 5px;
    }
    button {
        margin-top: -5px;
        margin-bottom: 25px;
        margin-left: 14%;
    }
    form#orderForm {
        margin-left: 6%;
    }
    form#orderForm label {
        width: 85px;
        padding-top: 2em;
        left: 3em;
        margin-top: -1.25em;
      }
    form#orderForm input {
        padding: 0.6em 1.4em 0.5em 7em;
    }
    .form-container {
        min-width: 380px!important;
    }
    .confirm-infos-container{
        margin-top: -4%;
    }
    .confirm-content-container{
        padding: 5px;
    }
    button.confirm-button {
        margin-left: 11%;
    }
    p.center-text {
        padding: 20px;
    }
    .product-price {
        margin-left: 10px;
    }
    .product-items-list-container {
        margin-top: -10px;
    }
    .product-widget-delete {
        margin-top: 54.3%!important;
        margin-left: 85%;
    }
    .card-content_desc {
        font-size: 0.8em!important;
    }
    form.quantity-form label {
        margin-left: 3px !important;
        margin-top: -14px;
    }
    .product-delete {
        margin-top: -19px;
    }
}

@media screen and (max-width: 375px) {
    .products-card {
        margin-left: 20px!important;
    }
    button,
    form#orderForm {
        margin-top: -5px;
        margin-bottom: 25px;
        margin-left: 8.5%;
    }
    form#orderForm input {
        margin-bottom: 2.6em;
    }
    .form-invalid-icon-container{
        margin-top: -20px;
    }
    .form-container {
        min-width: 350px!important;
    }
    .product-widget-delete {
        margin-top: 63.2%!important;
        margin-left: 85%!important;
    }
    button.confirm-button {
        margin-left: 9%;
        margin-top: 3%;
    }
    form.options-form,
    form.quantity-form {
        margin-left: 0%!important;
    }
    button.add-to-cart {
        margin-bottom: 12%!important;
    }
    p.center-text {
        padding: 0px 20px 20px 20px!important;
    }
    form.quantity-form input {
        margin-left: 0px!important;
    }
    form.quantity-form label {
        margin-left: 3px !important;
        margin-top: -14px;
    }
}

@media screen and (max-width: 320px) {
    button.confirm-button {
        margin-top: 20px;
        margin-left: 0%;
    }
    .confirm-infos-container {
        margin-top: 50px!important;
        margin-bottom: 80px!important;
    }
    .products-container,
    .card-container,
    .products-card,
    .products-card-img,
    .products-img_hover,
    .products-img_image,
    .products-zoom-adjustment,
    .products-img_name,
    .products-card-content,
    .card-content_title {
        max-width: 300px!important;
        min-width: 300px!important;
        width: 300px!important;
    }
    .products-card-content,
    .products-card-img {
        max-width: 295px!important;
        min-width: 295px!important;
        width: 295px!important;   
    }
    .products-card-img {
        width: 250px!important; 
    }
    .products-img_alert-new {
        margin-left: 67%!important;
        margin-top: -97%!important;
    }
    .products-card {
        margin-left: 10px!important;
    }
    .card-content_price {
        margin-left: 72%!important;
    }
    .card-content_icon {
        margin-left: 85%!important;
    }
    .product-img {
        max-width: 295px!important;
        min-width: 295px!important;
        width: 295px!important;
        margin-left: -1px!important;
        margin-top: -30px!important;
    }
    .product-image-container {
        margin-top: -15px!important;
    }
    form.options-form,
    form.quantity-form {
        margin-left: 0%!important;
    }
    .product-widget-delete {
        margin-top: 73%!important;
        margin-left: 77%!important;
    }
    .product-widget-quantity {
        margin-top: -4%;
        margin-left: 62%;
    }
    .product-content-price {
        margin-top: 5.5%!important;
        margin-left: 60%;
    }
    .product-content-color {
        margin-top: -5%!important;
        margin-bottom: 2%!important;
    }
    .product-content-unit-price {
        margin-bottom: 2%!important;
    }
    h3.product-content-title {
        margin-bottom: -10px!important;
    }
    .product-card-total-container {
        margin-left: 22%;
    }
    .product-items-list-container {
        margin-top: -2%!important;
    }
    nav img {
        padding-left: 10px!important;
    }
    .form-desc {
        margin-top: 15px!important;
    }
    form#orderForm {
        margin-top: -5px;
        margin-bottom: 25px;
        margin-left: -5%;
    }
    form#orderForm input {
        margin-bottom: 3.5em!important;
    }
    .form-invalid-icon-container{
        margin-top: -20px;
    }
    .form-container {
        min-width: 310px!important;
    }
    form#orderForm label {
        width: 85px;
        padding-top: 1.9em;
        left: 0.5em;
        margin-top: -1.25em;
      }
    form#orderForm input {
        padding: 0.6em 1.4em 0.5em 6em;
    }
    form.quantity-form label {
        margin-left: 3px !important;
        margin-top: -14px;
    }
    .form-invalid-icon-container {
        margin-top: -24%!important;
        margin-left: 92%!important;
    }
    .form-icon-container {
        margin-top: -19%!important;
        margin-left: 90%!important;
    }
    .error-message {
        margin-top: -16%!important;
        margin-bottom: 5%!important;
    }
    .footer-text-container,
    .footer-social-container,
    .footer-links-container {
        margin-left: -15px!important;
    }
    p.center-text {
        margin-top: -20px!important;
    }
    p.center-text,
    .product-content-desc {
        padding: 20px!important;
    }
    label.product-content-list-option-title {
        margin-left: 0%!important;
    }
}

@media screen and (min-width: 415px) and (max-width: 425px) {
    button.confirm-button {
        margin-top: 20px;
        margin-left: 14%!important;
    }
    .footer-social-container {
        padding-top: 45%!important;
        padding-bottom: 0%!important;
    }
    form.quantity-form input {
        margin-left: -8%!important;
    }
    form.quantity-form label {
        margin-left: -25px!important;
    }
    label.product-content-list-option-title {
        margin-left: -8%!important;
    }
    form.options-form select.custom-select {
        margin-left: -8%!important;
    }
    .product-forms-container {
        margin-left: 12%!important;
    }
}


/* ===================================================================================================== */
/* 10. Responsive - Tablets                                                                              */
/* ===================================================================================================== */

@media screen and (min-width: 426px) and (max-width: 768px) {
    h2.card-title {
        margin-top: 10px!important;
        margin-left: 35px!important;
    }
    h2.footer-title {
        margin-top: -15px!important;
    }
    h2.footer-title.footer-title-social{
        margin-top: 8px!important;
    }
    .footer-container {
        flex-basis: 100%!important;
        flex-wrap: wrap!important;
    }
    .footer-social-container {
        margin-top: -150px!important;
    }
    .footer-social-icon {
        margin-top: 50px!important;
        margin-right: 10px!important;
        margin-left: 15px!important;
    }
    .product-img_image {
        left: -10%!important;
    }
    .product-img img {
        width: 680px!important;
        margin-left: auto!important;
        margin-right: auto!important;
    }
    img.product-zoom {
        width: 80%!important;
        margin-left: auto!important;
        margin-right: auto!important;
        overflow: hidden;
        border-radius: 10px;
    }
    .cart-product-list-container {
        flex-direction: column!important;
        flex-wrap: wrap!important;
        background: var(--grey-color-piker-bg);
        height: auto!important;
        margin-left: auto!important;
        margin-right: auto!important;
        border-radius: 10px;
        width: auto;
        max-width: 95%;
    }
    .product-content-desc,
    .cart-product-list-content {
        flex-direction: column!important;
        flex-wrap: wrap!important;
        margin-top: 5px!important;
        margin-bottom: 15px!important;
    }
    .product-list-img {
        justify-content: flex-start!important;
        align-content: space-between!important;
        margin-right: auto!important;
        margin-left: 140%!important;
        width: 350px!important;
        height: auto!important;
        margin-top: 15px!important;
        overflow: hidden!important;
        text-decoration: none;
    }
    .confirm-infos-container {
        height: 800px!important;
    }
    .products-card:last-child {
        margin-bottom: 20px!important;
        margin-right: 30px!important;
    }
    .products-card {
        margin-left: 20px!important;
        margin-top: 15px!important;
    }
    .card-container {
        margin-top: 20px!important;
        margin-bottom: 20px!important;
    }
    img.product-list-zoom {
        z-index: 1;
        height: 100%!important;
        min-width: auto;
        min-height: 150px;
    }
    .cart-product-list-content {
        margin-top: 10px!important;
        margin-left: -80px!important;
        padding-bottom: 40px;
    }
    .product-card-total-container {
        margin-left: 51%;
        margin-right: 20px;
        margin-top: -20px;
        padding: 15px;
        height: auto;
        width: auto;
        min-width: 200px;
        max-width: 250px;
    }
    .product-content-unit-price {
        margin-left: 20px!important;
    }
    .product-widget-quantity {
        margin-left: 70%;
        margin-top: -1%;
    }
    .product-content-price {
        margin-left: 85%;
        margin-top: 3%!important;
    }
    .product-widget-delete {
        margin-right: 15px!important;
        margin-top: 38%;
        margin-left: 95%;
    }
    .product-content-color {
        margin-top: -10px;
        padding-bottom: 5px;
    }
    form#orderForm {
        margin-left: 6%;
    }
    form#orderForm label {
        width: 85px;
        padding-top: 2em;
        left: 3.5em;
        margin-top: -1.25em;
      }
      form#orderForm input {
        padding: 0.6em 1.4em 0.5em 7em;
    }
    .form-container {
        min-width: 380px!important;
    }
    button.confirm-button {
        margin-left: 31%;
    }
    .product-image-container {
        height: 550px!important;
    }
    .product-zoom {
        margin-top: 5px;
        height: 500px!important; 
    }
    button.confirm-button {
        margin-top: 20px;
    }
    form.quantity-form label {
        margin-left: 3px !important;
        margin-top: -14px;
    }
}

@media screen and (min-width: 425px) and (max-width: 639px) {
    .product-widget-delete {
        margin-top: 195px!important;
        margin-left: 85%!important;
    }
    .product-widget-quantity {
        margin-top: -2%!important;
        margin-left: 65%!important;
    }
    .product-content-price {
        margin-top: 20px!important;
        margin-left: 70%!important;
    }
    .product-content-color {
        margin-top: -5%!important;
        margin-top: 20px!important;
    }
    .product-content-unit-price {
        margin-top: 20px!important;
    }
    .cart-product-list-content {
        margin-top: 10px !important;
        margin-right: auto!important;
        margin-left: auto!important;
        padding-bottom: 40px;
    }
    .product-list-img {
        margin-right: auto!important;
        margin-left: auto!important;
        margin-top: 15px !important;
    }
    .product-content-desc {
        margin-top: 30px!important;
    }
    .product-content-list-title {
        margin-top: 20px!important;
    }
}

@media screen and (min-width: 640px) and (max-width: 768px) {
    .product-list-img {
        width: 250px!important;
        min-height: 350px!important;
        padding-top: 5%!important;
    }
    .cart-product-list-content {
        padding-top: 42%;
        margin-left: -35%;
        min-width: 500px;
    }
    .product-description {
        margin-top: 15px!important;
    }
    button.add-to-cart {
        margin-top: 40px!important;
        margin-bottom: 5px!important;
        margin-left: 30%!important;
    }
    .product-delete {
        display: block!important;
        margin-top: 5px!important;
        margin-left: 80px!important;
    }
    .product-list-img{
        padding-bottom: 50px!important;
    }
    .product-content-list-title,
    .product-content-price {
        margin-top: 40px!important;
    }
    .product-delete {
        display: block!important;
        margin-top: 25px!important;
        margin-left: 25px!important;
    }
}

@media screen and (min-width: 769px) and (max-width: 852px) {
    .products-card:last-child {
        margin-bottom: 20px!important;
        margin-right: 30px!important;
    }
    .products-card {
        margin-left: 20px!important;
        margin-top: 15px!important;
    }
    .card-container {
        margin-top: 20px!important;
        margin-bottom: 20px!important;
    }
    img.product-list-zoom {
        z-index: 1;
        height: 100%!important;
        min-width: auto;
        min-height: 150px;
    }
    .cart-product-list-content {
        margin-top: 1.95px!important;
        margin-left: 40px!important;
        padding-bottom: 9px;
    }
    .cart-product-list-container {
        max-width: 90%;
    }
    .product-cart-list{
        margin-left: 6%!important;
    }
    .product-card-total-container {
        margin-left: 62%;
        margin-right: 20px;
        margin-top: -20px;
        padding: 15px;
        height: auto;
        width: auto;
        min-width: 200px;
        max-width: 250px;
    }
    .product-content-desc{
        padding-top: 0px;
        padding-bottom: 5px;
    }
    .product-content-unit-price {
        margin-left: 15px!important;
        margin-top: -2.55%;
    }
    .product-widget-quantity {
        margin-left: 79%;
        margin-top: -2.55%;
    }
    .product-content-price {
        margin-left: 69%;
        margin-top: 3%!important;
    }
    .product-widget-delete {
        margin-right: 15px!important;
        margin-top: 18%;
        margin-left: 87%;
    }
    .product-content-color {
        margin-top: -10px;
        padding-bottom: 5px;
    }
    button {
        margin-top: -5px;
        margin-bottom: 25px;
        margin-left: 38%;
    }
    form {
        margin-left: 6%;
    }
    form label {
        width: 85px;
        padding-top: 2em;
        left: 3.5em;
        margin-top: -1.25em;
      }
    form input {
        padding: 0.6em 1.4em 0.5em 7em;
    }
    .form-container {
        min-width: 380px!important;
    }
}

@media screen and (min-width: 815px) and (max-width: 852px) {
    .product-widget-delete {
        margin-left: 87.5%;
    }   
}

/* ===================================================================================================== */
/* 11. Responsive - Laptops                                                                              */
/* ===================================================================================================== */

/* Laptops Screens between 800px and 1440px */

@media screen and (min-width: 800px) and (max-width: 1440px) {
    h2.card-title {
        margin-top: 10px!important;
        margin-left: 35px!important;
    }
    h2.footer-title {
        margin-top: -10px!important;
    }
    #products {
        margin-top: 0px!important;
    }
    .footer-social-container {
        margin-top: -75px!important;
    }
    .footer-social-icon {
        margin-top: 50px!important;
        margin-right: 10px!important;
        margin-left: 25px!important;
    }
    .product-img_image {
        left: -10%!important;
    }
    .product-img img {
        width: 680px!important;
        margin-left: auto!important;
        margin-right: auto!important;
    }
    img.product-zoom {
        width: 80%!important;
        margin-left: auto!important;
        margin-right: auto!important;
        overflow: hidden;
        border-radius: 10px;
    }
    .cart-product-list-content {
        margin-left: 14%;
    }
    .confirm-infos-container {
        height: auto!important;
    }
    .products-card:last-child {
        margin-bottom: 20px!important;
    }
    .products-card {
        margin-top: 15px!important;
    }
    .card-container {
        margin-top: 20px!important;
        margin-bottom: 20px!important;
    }
    button.confirm-button {
        margin-top: 40px;
    }
    .confirm-infos-container {
        margin-top: 40px!important;
        margin-bottom: 40px!important;
    }
    form#orderForm {
        margin-left: 6%;
        margin-top: 15%;
    }
    form#orderForm label {
        width: 85px;
        padding-top: 2em;
        left: 3.5em;
        margin-top: -1.25em;
    }
    form#orderForm input {
        padding: 0.6em 1.4em 0.5em 7em;
    }
    .form-container {
        min-width: 380px!important;
    }
    button.confirm-button {
        margin-left: 31%;
    }
    .product-image-container {
        height: 550px!important;
    }
    .product-zoom {
        margin-top: 5px;
        height: 500px!important; 
    }
    .product-description {
        margin-top: -5%!important;
    }
    button.add-to-cart {
        margin-top: 50px!important;
        margin-bottom: 5px!important;
        margin-left: 33.33%!important;
    }
    .product-forms-container {
        margin-left: 12%!important;
    }
    .product-price {
        margin-top: 15px;
        margin-left: 5px;
    }
    button.add-to-cart {
        margin-left: 35%!important;
    }
    form.quantity-form label {
        margin-top: -14px!important;
        margin-left: 60px!important;
    }
    .product-forms-container {
        margin-left: 0%!important;
    }
    .product-price {
        margin-top: 15px;
        margin-left: 20%;
    }
    label.product-content-list-option-title  {
        margin-left: 50px;
    }
    .product-delete {
        margin-top: -19px;
    }
}

@media screen and (min-width: 1170px) and (max-width: 1500px) {
    .cart-product-list-container {
        max-width: 100%;
        margin-left: -5px;
    }
    .cart-product-list-content {
        margin-left: 17%;
        height: 148px;
    }
    .product-content-unit-price {
        position: absolute;
        margin-left: 43%!important;
        margin-top: 25%!important;
    }
    .product-delete {
        margin-top: -12px!important;
    }
    .product-widget-quantity {
        z-index: 2;
        position: absolute;
        margin-left: 150px;
        margin-top: 8%;
    }
    .product-content-price {
        position: absolute;
        margin-left: 62%;
        margin-top: 4%!important;
    }
    .product-widget-delete {
        position: absolute;
        margin-right: 15px!important;
        margin-top: 33.5%;
        margin-left: 72%;
    }
    .product-content-color {
        position: absolute;
    }
    .product-content-desc{
        padding-top: 0px!important;
        padding-bottom: 0px!important;
    }
    .product-card-total-container {
        max-width: 370px;
        margin-left: 60%;
    }
    .product-description {
        margin-top: 3%!important;
    }
    label.product-content-list-option-title  {
        margin-left: 10px;
    }
    form.quantity-form label {
        margin-left: 5px!important;
    }
    button.add-to-cart {
        margin-left: 10%!important;
    }
}

@media screen and (min-width: 1171px) and (max-width: 1300px) {
    .product-content-unit-price {
        margin-top: 125px!important;
    }
    .product-content-color {
        margin-top:  125px!important;
    }
    .product-widget-delete {
        margin-top: 130px;
        margin-left: 72.5%;
    }
    .product-widget-quantity {
        margin-top: 30px!important;
    }
    .product-content-desc {
        font-size: 0.9em!important;
    }
}
@media screen and (min-width: 1300px) and (max-width: 1500px) {
    .product-content-unit-price {
        margin-top: 24%;
    }
    .product-widget-delete {
        margin-top: 26.5%;
    }
    .product-widget-quantity {
        margin-top: 6.1%;
        margin-left: 35%;
    }
    .product-content-price {
        margin-top: 3%!important;
    }
    .product-content-desc {
        margin-top: -4%!important;
    }
    .product-delete {
        margin-top: -15px!important;
    }
    .product-content-color,
    .product-content-unit-price {
        margin-top: 23.5%!important;
    }
    .form-desc {
        padding-top: 20px!important;
        padding-bottom: 0px!important;
    }
    .product-list-img {
        margin-left: 0px!important;
    }
    .product-content-title {
        padding-bottom: 20px;
    }
    .product-content-title {
       margin-top: 10px!important;
    }
    form.quantity-form label {
        margin-top: -14px!important;
        margin-left: 0px!important;
    }
    .product-price{
        margin-left: -1px;
    }
    .product-content-title {
        margin-top: 20px!important;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1350px) {
    .product-content-unit-price {
        margin-top: 125px!important;
    }
    .product-content-color {
        margin-top:  125px!important;
    }
    .product-widget-delete {
        margin-top: 135px;
        margin-left: 72.5%;
    }
    .product-widget-quantity {
        margin-top: 30px!important;
    }
}

@media screen and (min-width: 1450px) and (max-width: 1500px) {
    .product-content-unit-price {
        margin-top: 120px!important;
    }
    .product-content-color {
        margin-top:  120px!important;
    }
    .product-widget-delete {
        margin-top: 127px;
    }
    .product-widget-quantity {
        margin-top: 6%;
    }
}