/*
Project Name: P5 Orinoco e-commerce
Description: Orinoco e-commerce
Version: 1.0
Author: Blas Pierre-Gérard
Email: pierreg.blas@gmail.com
Git repository: https://gitlab.com/pgb_oc/orinoco
GitLab page: https://pgb_oc.gitlab.io/orinoco/
Server: nodejs localhost:3000
Methodology: BEM + variables + SASS
Tags: html5, front-end, web api
Creation date: 09/07/2021
Last modification: 06/10/2021
 
  ---------------------------
  MAIN STYLES
  ---------------------------
  
  TABLE OF CONTENTS
  ---------------------------
   01. Global styles
   02. Header - Navigation Menu
   03. Main - Products
   04. Footer
   05. Forms
   06. Animations
   07. Responsive rules
*/

@import "mixins.scss";

/* ===================================================================================================== */
/* 01. Global styles                                                                                     */
/* ===================================================================================================== */
//@import "fonts.scss";
@import "variables.scss";
@import "sweetalertcustom.scss";
*{ 
    box-sizing: border-box;
}

/*html * {
    border: 1px solid red;
}*/

body {
    margin: 0;
    padding: 0;
    background: transparent;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

a {
    transition: all .3s ease-in-out;
    outline: none!important;
    color: var(--color-black)!important;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

ul li,
ul {
    max-width: 100%;
    color: var(--color-black);
}

h1 {
    font-family: var(--font-bold);
    font-weight: 500;
    font-size: 1.2em;
    color: var(--color-black);
    padding-top: 0px;
    /*background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

h1.center-title {
    display: flex;
    justify-content: center;
}

p.center-text {
    display: flex;
    justify-content: center;
    font-family: var(--font-bold);
    color: var(--color-black);
    font-weight: 400;
    font-size: 0.9em;
    letter-spacing: var(--letter-spacing);
    margin-top: -5px;
    margin-bottom: 10px;
}

/* ===================================================================================================== */
/* 02. Header - Navigation Menu                                                                          */
/* ===================================================================================================== */

header {
    background: var(--grey-bg);
    height: 100px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: content-box;
}

nav img {
    margin: 20px;
}

nav .cart {
    align-items: flex-end;
}

nav .cart i {
    margin-left: 35%;
}

nav p.cart-text {
    display: flex;
    font-family: var(--font-bold);
    color: var(--color-black);
    font-weight: 400;
    font-size: 0.8em;
    letter-spacing: var(--letter-spacing);
    padding-left: 5px;
    margin-top: 15px;
    padding-bottom: 8px!important;
}

.number-products-container {
    z-index: -1!important;
    display: flex;
    margin-top: -55px!important;
    padding-bottom: 5px!important;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    height: auto;
    width: auto;
    max-width: 100%;
    border-radius: 10px;
    //background: var(--grey-color-piker-bg);
    border-radius: 10px;
    justify-content: center; 
}

.cart-number {
    display: flex;
    font-family: var(--font-bold);
    color: var(--color-black);
    font-weight: 700;
    font-size: 0.9em;
    letter-spacing: var(--letter-spacing);
    padding-left: 7px;
    margin-top: 0px!important;
}

/* ===================================================================================================== */
/* 03. Main - Products                                                                                   */
/* ===================================================================================================== */

main {
    background: var(--grey-bg);
    height: 100%;
    margin-top: 3px;
}

.alert-nojs,
.alert-404 {
    z-index: 2;
    text-align: center;
    color: var(--font-color);
    font-size: 1.8em;
    padding: 20px;
    font-family: var(--font-bold);
    letter-spacing: var(--letter-spacing);
    justify-items: center!important;
}

.alert-404 {
    color: var(--color-white)!important;
}

.alert-404 a {
    font-size: 0.5em;
    color: var(--color-white)!important;
}

button.button-404 {
    justify-items: center!important;
    margin-left: auto!important;
    margin-right: auto!important;
}

#products{
    display: flex;
    flex-basis: 100%;
    height: 100%;
}

#product {
    display: flex;
    flex-basis: 100%;
    height: 100%;
    width: 100%; 
}

.card-container {
    max-height: 370px;
    max-width: 100%;
    margin-bottom: 5px!important;
    box-sizing: content-box;
}

.products-card:last-child {
    margin-bottom: 20px!important;
    margin-right: 30px!important;
}
.products-card {
    margin-top: 15px!important;
}
.card-container {
    margin-top: 20px!important;
    margin-bottom: 20px!important;
}

.products-container {
    display: flex;
    flex-basis: 100%;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center!important;
    margin-bottom: 5px!important;
    margin: 0px;
}

.products-card-content {
    position: absolute;
    display: block;
    margin-top: 275px!important;
    min-width: 335px!important;
    height: 75px!important;
    background: var(--gradient-bg-blue-invert);
    border-bottom-left-radius: 10px!important;
    border-bottom-right-radius: 10px!important;
}

.card-content_title {
    margin-left: 15px;
    margin-top: 10px;
    color: var(--color-white);
    font-family: var(--font-bold);
    font-size: 1em;
    letter-spacing: var(--letter-spacing);
}

h2.card-title {
    z-index: 1;
    position: relative;
    font-family: var(--font-bold);
    font-weight: 700;
    font-size: 24px;
    color: var(--font-color);
    letter-spacing: 0.5px!important;
    margin: 50px 50px 40px 50px!important;
}

.card-content_title a {
    text-decoration: none;
}

.card-content_title a:hover {
    color: var(--grey-font-card-alert)!important;
}

.card-content_desc {
    position: absolute;
    width: 80%;
    padding: 20px 10px 15px 15px;
    padding-bottom: 30px;
    margin-top: -35px;
    font-weight: 300;
    font-size: 0.8em;
    color: var(--color-white);
    font-family: var(--font-light);
    letter-spacing: var(--letter-spacing);
}

.card-content_price {
    position: absolute;
    display: inline;
    padding: 10px 5px 15px 15px;
    font-size: 1em;
    color: var(--color-white);
    font-family: var(--font-bold);
    letter-spacing: var(--letter-spacing);
    margin-left: 255px;
    margin-top: -45px!important;
}

.card-content_icon {
    z-index: 1;
    position: absolute;
    display: inline;
    vertical-align: middle;
    margin-left: 290px;
    margin-top: -5px!important;
}
/*Heart SVG icon animation*/
.heart-svg-icon {
    fill: transparent!important;
    stroke: var(--color-white)!important;
    stroke-width: 20;
    cursor: pointer;
    position: relative;
}

.heart-svg-icon svg {
    overflow: visible;
    width: 20px;
    height: 20px;
}

.heart-svg-icon:after{
    z-index: 2;
    border:0px solid black!important;
    /*background-color: transparent!important;*/
    box-sizing : border-box!important; 
}

.heart-svg-icon:hover:after{
    z-index: 2;
    border-width: 22px!important;
}

.heart-svg-icon path {
    stroke-dashoffset: 0;
    stroke-dasharray: 1550;
    transform-origin: center;
}

/*Fix margin for Chrome OK for firefox...*/
.heart-svg-icon .heart-background { 
    position:absolute;
    left: 26px;
    right: 0;
    bottom: 0;
    top: -8px;
    z-index: -1;
    margin-left: -26px;
}

.heart-svg-icon .heart-body:hover path {
    animation: stroke-animation 0.80s ease-in-out forwards;
}

.heart-svg-icon .heart-body:hover ~ .heart-background path {
    animation: fade-animation 0.80s ease-in-out forwards;
}
  
  @keyframes stroke-animation {
    0% {
        stroke-dashoffset: 3100;
    }
    30% {
        stroke-dashoffset: 3100;
    }
    60% {
      stroke-dashoffset: 3100;
      fill: transparent;
      transform: scale(1);
    }
    80% {
      fill: var(--hgradient);
      transform: scale(1.1);
    }
    90% {
      transform: scale(1);
    }
    100% {
      stroke-dashoffset: 3100;
      fill: url(#heart_gradient);
      stroke: var(--hgradient);
    }
  }
  @keyframes fade-animation {
    0% {
        transform: scale(0.2);
        margin-top: -15px;
      }
    30% {
        transform: scale(0.5);
      }
    60% {
        transform: scale(0.8);
      }
    70% {
      fill: transparent!important;
      transform: scale(1);
    }
    80% {
      fill: var(--hgradient);
      transform: scale(1.1);
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
/*End of Heart SVG icon animation*/

.bear-svg-icon {
    fill: transparent!important;
    stroke: var(--color-white);
    stroke-width: 1!important;
    cursor: pointer;
    position: relative;
}

li.product-color-list {
    display: inline;
    margin-right: 0px;
}

.bear-svg-product svg {
    overflow: visible;
    width: 80px;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.bear-svg-icon svg {
    overflow: visible;
    width: 40px;
    height: 40px;
}

.bear-svg-icon:after{
    z-index: 2;
    border:0px solid brown!important;
    /*background-color: transparent!important;*/
    box-sizing : border-box!important; 
}

.bear-svg-icon:hover:after{
    z-index: 2;
    border-width: 22px!important;
}

.bear-svg-icon path {
    stroke-dashoffset: 0;
    stroke-dasharray: 1550;
    transform-origin: center;
}

/*Fix margin for Chrome OK for firefox...*/
.bear-svg-icon .bear-background { 
    position:absolute;
    left: 26px;
    right: 0;
    bottom: 0;
    top: 0px;
    z-index: -1;
    margin-left: -26px;
}

.bear-svg-icon .bear-body:hover path {
    animation: stroke-animation-02 0.80s ease-in-out forwards;
}

.bear-svg-icon .bear-body:hover ~ .bear-background path {
    animation: fade-animation-02 0.80s ease-in-out forwards;
}
/*Bear SVG icon animation*/
@keyframes stroke-animation-02 {
    0% {
        stroke-dashoffset: 3100;
    }
    30% {
        stroke-dashoffset: 3100;
    }
    60% {
      stroke-dashoffset: 3100;
      fill: transparent;
      transform: scale(1);
    }
    80% {
      fill: var(--bgradient);
      transform: scale(1.1);
    }
    90% {
      transform: scale(1);
    }
    100% {
      stroke-dashoffset: 3100;
      fill: url(#bear_gradient);
      stroke: var(--bgradient);
    }
  }
  @keyframes fade-animation-02 {
    0% {
        transform: scale(0.2);
        margin-top: -15px;
      }
    30% {
        transform: scale(0.5);
      }
    60% {
        transform: scale(0.8);
      }
    70% {
      fill: transparent!important;
      transform: scale(1);
    }
    80% {
      fill: var(--bgradient);
      transform: scale(1.1);
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
/*End of Bear SVG icon animation*/

.products-card {
    display: flex;
    flex-basis: 23.33%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    min-width: 335px!important;
    max-height: 350px!important;
    background-color: var(--white-bg);
    margin-left: 37px;
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box!important;
    overflow: hidden!important;
}

.products-card-img {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    min-width: 334px!important;
    min-height: 350px!important;
    margin: 0px 0px 80px 0px!important;
    border-bottom-left-radius: 10px!important;
    border-bottom-right-radius: 10px!important;
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;
    overflow: hidden!important;
    text-decoration: none;
}

.products-card-img:hover .products-img_image {
    transform: scale(1.2);
}

.products-card-img:hover .products-img_hover {
    visibility: visible;
    opacity: 1;
}

.products-card-img:hover .products-img_name {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}

.products-img_image {
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    min-width: 335px!important;
    max-height: 360px!important;
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;
    box-sizing: border-box;
    transform: scale(1);
    will-change: transform;
    transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 0;
    overflow: hidden!important;
}

.products-zoom-adjustment {
    width: 100%!important;
    margin-top: 0%!important;
    margin-left: 0%!important;
    min-height: 360px!important;
}

.products-zoom-adjustment-02 {
    width: 100%!important;
    margin-top: -44%!important;
    margin-left: 0%!important;
}

.products-img_alert-new {
    position: absolute;
    width: 80px;
    height: 30px;
    background: var(--gradient-bg-blue);
    border-radius: 2.5px;
    margin-left: 240px;
    margin-top: -285px;
}

.products-img_alert-new .alert-text {
    position: relative;
    font-family: var(--font-bold);
    font-weight: 500;
    color: var(--color-white);
    font-size: 14px;
    padding: 12px;
    top: 7px!important;
    padding-top: 0px!important;
}

.products-img_hover {
    visibility: hidden;
    display: block;
    position: absolute;
    width: 335px!important;
    min-height: 350px!important;
    background: radial-gradient(rgba(47, 48, 50, 0.1), rgba(47, 48, 50, 0.3));
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.15);
    transition: visibility 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
    overflow: hidden!important;
    border-bottom-left-radius: 10px!important;
    border-bottom-right-radius: 10px!important;
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;
}

.products-img_name {
    visibility: hidden;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    transform: scale(0.6);
    transform-origin: center center;
    transition: visibility 0.14s ease-out, opacity 0.14s ease-out, transform 0.24s ease;
    opacity: 0;
}

.products-img_name .see-more {
    color: var(--color-white);
    font-family: var(--font-bold);
    letter-spacing: 1px;
    font-size: 1.000em;
    background: var(--gradient-bg-blue);
    padding: 7px;
    margin-top: -2%;
    margin-left: -3%;
    text-align: center;
}

/*Product page*/

#product {
    display: flex;
    flex-basis: 100%;
    height: 100%;
}

.alert-added-confirmation-text {
        padding-top: 10px;
        text-align: center;
        color: white;
        //text-shadow: rgba(255, 0, 0,0.7);
        font-family: var(--font-bold);
        font-size: 1em;
        letter-spacing: var(--letter-spacing);
}

.product-image-container {
    display: flex;
    flex-basis: 100%;
    height: 90vh;
    width: 100%;
    min-height: auto;
    max-height: 750px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0px;
    background-color: rgba($color: white, $alpha: 0.4);
    justify-content: center;
    background: var(--gradient-bg-blue);
    border-radius: 10px;
}

.product-infos-container {
    display: flex;
    flex-basis: 100%;
    height: 90vh;
    width: 100%;
    height: 750px;
    max-height: 100%;
    margin: 20px 0px;
    flex-direction: row;
    flex-wrap: wrap;
    background: var(--gradient-bg-blue-invert);
    border-radius: 10px;
    align-items: flex-start!important;
    align-content: space-around;
}

.product-img {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    top: 7%;
    left: 10%;
    height: auto;
    min-width: 335px!important;
    min-height: 335px!important;
    margin: 0px 0px 80px 0px!important;
    overflow: hidden!important;
    text-decoration: none;
}

.product-image,
.product-description,
.product-cart-list {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    height: auto;
    width: auto;
    /*min-width: 335px!important;
    min-height: 335px!important;*/
    background-color: var(--white-bg);
    cursor: pointer;
    box-sizing: border-box!important;
    overflow: hidden!important;
    /*justify-content: center;*/
    align-items: flex-start;
}

.product-img_image {
    position: absolute;
    top: 0px;
    left: -10%;
    width: 100%!important;
    height: 95%!important;
    min-width: 335px!important;
    min-height: 335px!important;
    box-sizing: border-box;
    z-index: 0;
    overflow: hidden!important;
    align-items: center!important;
}

.product-img_image:hover {
    transform: scale(1.05)!important;
    will-change: transform!important;
    transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94)!important;
}

img.product-zoom {
    width: 80%!important;
    margin-left: auto!important;
    margin-right: auto!important;
    overflow: hidden;
    border-radius: 10px;
}

.product-content-title {
    color: var(--color-white);
    font-family: var(--font-bold);
    font-size: 1.3em;
    letter-spacing: var(--letter-spacing);
    margin-left: 20px;
    margin-top: 20px;
}

.form-title {
    margin-top: 20px;
}

.product-content-desc {
    display: flex;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 15px;
    font-weight: 300;
    font-size: 1em;
    color: var(--color-white);
    font-family: var(--font-light);
    letter-spacing: var(--letter-spacing);
}

.product-forms-container {
    width: 100%;
}

form.quantity-form input {
    margin-top: 40px;
    max-width: 250px;
}

form.quantity-form label {
    margin-top: -19px;
    margin-left: 10px;
    max-width: 250px;
}

label.product-content-list-option-title  {
    margin-left: 5px;
}

form.options-form select {
    max-width: 250px;
}

.product-price {
    margin-top: 15px;
}

.product-price {
    padding: 15px!important;
    max-width: 180px;
    font-size: 1em;
    background: var(--gradient-bg-blue);
    border-radius: 10px;
    color: var(--color-white);
    font-family: var(--font-bold);
    letter-spacing: var(--letter-spacing);
    text-align: center;
}

.product-card-total-container {
    display: flex;
    margin-left: 73%;
    margin-right: 20px;
    margin-bottom: 25px;
    padding: 15px;
    height: auto;
    width: auto;
    max-width: 370px;
    border-radius: 10px;
    //background: var(--grey-color-piker-bg);
    background: var(--gradient-bg-blue);
    border-radius: 10px;
    justify-content: center;
}

.product-card-empty-container {
    display: flex;
}

.product-card-empty {
    padding: 15px;
    margin-left: 10px;
}

.product-card-total,
.product-card-empty {
    color: var(--color-white);
    font-family: var(--font-bold);
    font-size: 1.3em;
    letter-spacing: var(--letter-spacing);
}

.product-content-list-title,
.product-content-color,
.product-content-unit-price {
    display: flex;
    margin-left: 20px;
    color: var(--color-white);
    font-family: var(--font-bold);
    font-size: 1em;
    letter-spacing: var(--letter-spacing);
}

.product-content-unit-price {
    margin-left: 30px!important;
}

.product-content-list-option-title {
    display: flex;
    margin-top: -20px!important;
    padding: 20px;
    padding-left: 0px;
    color: var(--color-white);
    font-family: var(--font-bold);
    font-size: 1em;
    letter-spacing: var(--letter-spacing);
}

.product-description ul.color-picker-bg {
    background: var(--grey-color-piker-bg);
    height: 60px;
    margin-left: 20px;
    border-radius: 10px;
    width: auto;
    max-width: 400px;
}

.product-description ul {
    margin-top: 0px;
}

.product-description ul li {
    color: var(--color-white);
    font-family: var(--font-bold);
    font-size: 1em;
    line-height: 25px !important;
}

svg#productColor01 {
    color: white!important;
    stroke: white!important;
}
svg#productColor02 {
    color: tan!important;
    stroke: tan!important;
}
svg#productColor03 {
    color: chocolate!important;
    stroke: chocolate!important;
}
svg#productColor04 {
    color: #A52A2A!important;
    stroke: #A52A2A!important;
}

svg#productColor01,
svg#productColor02,
svg#productColor03,
svg#productColor04 {
    stroke-width: 5!important;
}

svg#productColor01:hover,
svg#productColor02:hover,
svg#productColor03:hover,
svg#productColor04:hover {
    stroke-width: 130!important;
}

/*Shopping cart page*/

.product-items-list-container {
    display: flex;
    flex-basis: 100%;
    margin-top: 20px;
    height: 90vh;
    width: 100%;
    height: auto;
    max-height: 100%;
    background: var(--gradient-bg-blue);
    border-radius: 10px;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    align-content: space-between;
}

.display-cart-position {
    padding-bottom: 40px!important;
}

.cart-product-list-container {
    flex-direction: row;
    background: var(--grey-color-piker-bg);
    height: 150px;
    margin-left: 20px;
    border-radius: 10px;
    width: auto;
    max-width: 95%;
    margin-top: 15px;
    margin-bottom: 25px;
}

.cart-product-list-container:hover {
    transform: scale(1.02);
    transition: ease 0.25s;
    box-shadow: 3px 3px 3px 3px var(--grey-shadow);
}

.product-list-img {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    top: 0;
    height: auto;
    width: 200px!important;
    height: 150px!important;
    margin: 0px 0px 0px 0px!important;
    overflow: hidden!important;
    text-decoration: none;
}

.product-list-img:hover {
    display: block;
    margin-left: -10px!important;
    transition: ease 0.25s;
}

img.product-list-zoom {
    width: 100%!important;
    margin-left: auto!important;
    margin-right: auto!important;
    overflow: hidden;
    border-radius: 10px;
}

.cart-product-list-content {
    display: flex;
    margin-top: 1px;
    margin-left: 5%;
    margin-right: -1.5%;
    padding-bottom: 9px;
    width: auto;
    max-width: 100%;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    background: var(--gradient-bg-blue-invert);
    border-radius: 10px;
}

.cart-product-list-content:hover {
    background: var(--gradient-bg-blue);
}

/*Product widgets section*/
.product-widgets-container {
    position: absolute;
    display: block;
    width: auto;
    max-width: 50%;
}

.product-widget-quantity {
    display: flex;
    flex-direction: row;
    margin-left: 76%;
    margin-top: -1.1%;
    padding-right: 20px;
}

.product-widget-increment,
.product-widget-decrement,
.product-widget-items-number {
    background: var(--grey-color-piker-bg);
    border-radius: 50%;
    align-items: center;
    color: var(--grey-bg);
    font-family: var(--font-bold);
    font-size: 1.3em!important;
    letter-spacing: var(--letter-spacing);
    padding-right: 10px!important;
    padding-left: 8px!important;
    height: 20px;
    width: 20px;
}

.product-widget-increment:hover,
.product-widget-decrement:hover {
    transform: scale(1.2);
}


.product-widget-items-number {
    width: auto!important;
}

.product-increment {
    margin-top: -3px!important;
    margin-left: -6px;
}

.product-decrement {
    margin-top: -3px!important;
    margin-left: -3px;
}

.product-widget-decrement,
.product-widget-increment {
    margin-top: -15px!important;
    padding-right: 10px!important;
    padding-left: 10px!important;
}

.product-widget-increment:hover,
.product-widget-decrement:hover {
    color: var(--color-white);
}

.product-widget-items-number {
    font-size: 1.1em!important;
    background: none!important;
    margin-top: -15px!important;
    padding-right: 15px;
    padding-left: 5px;
}

.product-widget-delete {
    position: absolute;
    display: block;
    margin-right: 10px!important;
    margin-top: 14%;
    margin-left: 87%;
}

.far.fa-trash-alt {
    color: var(--grey-bg);
}

.far.fa-trash-alt:hover {
    color: var(--color-white);
}

i.icon-delete {
    padding: 5px;
}

.product-content-desc {
    display: flex;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 15px;
    margin-top: 0px;
    font-weight: 400;
    font-size: 1em;
    color: var(--color-white);
    font-family: var(--font-bold);
    letter-spacing: var(--letter-spacing);
}

.product-content-price {
    position: absolute;
    display: block;
    text-align: right;
    margin-right: 20px;
    margin-left: 71%;
    margin-top: 2.7%;
    color: var(--color-white);
    font-family: var(--font-bold);
    font-size: 1.1em;
    letter-spacing: var(--letter-spacing);
}

.form-container {
    display: flex;
    flex-basis: 100%!important;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    max-width: 500px!important;
    min-width: 350px!important;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.form-desc {
    margin-bottom: 0px;
}

/*Confirmation page*/

.confirm-infos-container {
    display: flex;
    flex-basis: 100%;
    height: 90vh;
    width: 100%;
    height: 700px;
    max-height: 100%;
    margin: 20px 0px;
    flex-direction: row;
    flex-wrap: wrap;
    background: var(--gradient-bg-invert);
    border-radius: 10px;
    align-items: flex-start!important;
    align-content: space-around;
    justify-content: center;
}

.confirm-content-container {
    flex-direction: row;
    background: var(--grey-color-piker-bg);
    background-color: rgba($color: white, $alpha: 0.4);
    justify-content: center;
    background: var(--gradient-bg-blue);
    height: 100%;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
    border-radius: 10px;
    width: auto;
}

.confirm-content-text,
.confirm-content-list {
    display: block;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 1em;
    color: var(--color-white);
    font-family: var(--font-light);
    letter-spacing: var(--letter-spacing);
}

.confirm-content-list {
    padding: 10px!important;
}

ul.confirm-content-text {
    margin-top: -10px;
}

/*Button style*/
button {
    display: block;
    border: none;
    background: var(--gradient-bg-blue);
    height: 60px;
    width: 100%;
    max-width: 250px;
    padding: 10px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px var(--grey-shadow);
    transition: all .3s ease-in-out;
    outline: none!important;
    color: var(--color-black)!important;
    text-decoration: none;
}

button a,
button {
    font-family: var(--font-bold);
    font-weight: 500;
    color: var(--color-white)!important;
    letter-spacing: var(--letter-spacing);
    font-size: 1em;
}

button:hover {
    background: var(--gradient-bg-blue-invert);
    box-shadow: 0px 0px 0px 0px var(--grey-shadow);
    cursor: pointer;
}

button.product-delete {
    display: block;
    background: none;
    box-shadow: none;
    height: 25px!important;
    padding: 0px!important;
}

/* ===================================================================================================== */
/* 04. Footer section                                                                                    */
/* ===================================================================================================== */

footer {
    display: flex;
    flex-basis: 100%;
    height: 100%;
    margin-top: 5px;
}
.footer-container {
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
    min-height: 220px;
    height: auto;
    width: 100%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
    background: var(--gradient-bg-blue-invert);
}

.footer-links-container {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    margin-right: auto;
    margin-top: 20px;
}

.first-links-container {
    margin-top: 50px!important;
}

h2.footer-title {
    position: absolute;
    margin-left: 10px;
    font-family: var(--font-bold);
    font-weight: 700!important;
    font-size: 1.15em;
    color: var(--color-white);
    margin-left: 38px;
}

.footer-social-container {
    margin-top: -45px!important;
}

.footer-links-container ul {
    list-style-type: none;
}

.footer-links-container ul li {
    font-family: var(--font-regular);
    font-weight: 500!important;
    font-size: 1.000em;
    line-height: 30px!important;
}

.footer-links-container ul li a,
.link-footer {
    color: var(--grey-bg)!important;
    text-decoration: none;
}

.footer-links-container ul li a:hover,
a.link-footer:hover,
.fas:hover {
    color: var(--color-white)!important;
}

p.footer-text {
    color: var(--color-white);
    font-family: var(--font-regular);
    font-weight: 400!important;
    font-size: 1em;
    line-height: 1.5em!important;
    margin-left: 38px;
    padding: 20px!important;
    padding-left: 0px!important;
}

.footer-social-icon {
    margin: 50px;
}

i {
    z-index: 0;
    display: flex!important;
}

.fa {
    color: var(--grey-bg);
    font-size: 2em!important;
}

.fa:hover{
 color: var(--color-white);   
}

.fas {
    font-size: 1em;
    display: block;
}

.fas.fa-shopping-cart {
    font-size: 1.5em;
    background: -webkit-linear-gradient(-50deg, rgba(129, 102, 84, 0.6) 30%, rgba(138, 84, 251, 0.6) 0%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ===================================================================================================== */
/* 05. Forms                                                                                             */
/* ===================================================================================================== */
@import "forms.scss";
/* ===================================================================================================== */
/* 06. Animations                                                                                        */
/* ===================================================================================================== */
@import "animations.scss";
/* ===================================================================================================== */
/* 07. Responsive rules                                                                                  */
/* ===================================================================================================== */
@import "responsive.scss";




















